<template>
  <div class="container mt-5 mb-5" id="container">
    <form class="mt-5">
      <h2 class="text-head">ผู้รายงาน</h2>
      <div class="mt-3 form-div">
        <div class="pt-2 pl-5 pr-2">
          <div class="mt-3 row">
            <div class="col-md-6 form-group row">
              <label class="col-4 col-form-label">1. ผู้รายงาน</label>
              <div class="col-8">
                <input v-model="form.name" id="name"
                       class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-6 form-group row">
              <label class="col-4 col-form-label">ตำแหน่ง</label>
              <div class="col-8">
                <input v-model="form.role" id="role"
                       class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="mt-3 row">
            <div class="col-md-6 form-group row">
              <label class="col-4 col-form-label">2. หน่วยงาน</label>
              <multiselect
                class="w-50 style-multiselect"
                v-model="form.department"
                id="department"
                :options="optionDepartments"
                select-label=""
                selectedLabel=""
                deselect-label=""
                label="name"
                placeholder="เลือกหน่วยงาน"
                track-by="name">
              </multiselect>
            </div>
            <div class="col-md-6 form-group row">
              <label class="col-4 col-form-label">จังหวัด</label>
              <multiselect
                class="w-50 style-multiselect"
                id="province_department"
                v-model="form.province_department"
                :options="optionProvince"
                select-label=""
                selectedLabel=""
                deselect-label=""
                label="name"
                placeholder="เลือกจังหวัด"
                track-by="name">
              </multiselect>
            </div>
          </div>
          <div class="mt-3 row">
            <div class="col-lg-4 col-md-12 form-group row">
              <label class="col-md-2 col-lg-4 col-4 col-form-label">3. เบอร์โทร</label>
              <div class="col-md-6 col-lg-7 col-6">
                <input v-model="form.phone_number_department" id="phone_number_department"
                       class="form-control" type="text">
              </div>
            </div>
            <div class="col-lg-4 col-md-12  form-group row">
              <label class="col-md-2 col-lg-4 col-4 col-form-label">โทรสาร</label>
              <div class="col-md-6 col-lg-7 col-6">
                <input v-model="form.fax_number_department" id="fax_number_department"
                       class="form-control" type="text">
              </div>
            </div>
            <div class="col-lg-4 col-md-12  form-group row">
              <label class="col-md-2 col-lg-4 col-4 col-form-label">วันที่รายงาน</label>
              <div class="col-md-6 col-lg-7 col-6 ">
                <date-picker v-model="form.report_date" id="report_date"
                             :not-after="currentDate"
                             :lang="lang"
                             ref="datePicker"
                             :format="changeFormat"
                             width="100%">
                </date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mt-5 text-head">พื้นที่ของเหตุการณ์</h2>
      <div id="google-form" class="form-div">
        <!-- สร้าแผนที่และกำหนดคุณสมบัติ -->
        <div class="row pt-2 pl-5 pr-lg-5 pr-3 pb-3">
          <label class="col-2 col-form-label ">ค้นหาสถานที่</label>
          <div class="col-10">
            <gmap-autocomplete
              class="form-control"
              @place_changed="setPlace"
              :placeholder="form.location" id="searchLocation">
            </gmap-autocomplete>
          </div>
        </div>
        <gmap-map :center="startLocation" :zoom="15" style="width: 100%; height: 420px;" @click="setPlaceNEW">
          <!-- สร้าง marker ตามค่า coordinates ที่เราเซตไว้ แล้ว loop ออกมาแสดงผล -->
          <gmap-marker
            v-for="(item, key) in markers"
            :key="key" :position="getPosition(item)"
            :clickable="true"
            @click="toggleInfo()"></gmap-marker>

          <!--                    &lt;!&ndash; สร้าง info-window ของ Marker แต่ละอัน &ndash;&gt;-->
          <!--                    <gmap-info-window   :opened="infoOpened"  @closeclick="infoOpened=false" :position="startLocation">-->
          <!--                        &lt;!&ndash; แสดงข้อมูลของ marker &ndash;&gt;-->
          <!--                        <div style="text-align: center;">-->
          <!--                            <b>{{form.location}}</b>-->
          <!--                        </div>-->
          <!--                    </gmap-info-window>-->
        </gmap-map>
        <br>
      </div>

      <h2 class="mt-5 text-head">ก. รายละเอียดของเหตุการณ์</h2>
      <div class="mt-3 form-div">
        <div class="pt-2 pl-5 pr-lg-5 pr-3 pb-3">
          <div class="mt-3 row">
            <div class="col-md-8 col-sm-12 form-group row">
              <label class="col-lg-3 col-4 col-form-label">1. สถานที่เกิดเหตุ</label>
              <div class="col-lg-9  col-8">
                <input v-model="form.location" id="location"
                       class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-4 col-sm-6 form-group row">
              <label class="col-lg-3  col-4 col-form-label">หมู่ที่</label>
              <div class="col-lg-4  col-8">
                <input v-model="form.village_no" id="village_no"
                       class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-4 col-sm-7 form-group row">
              <label class="col-4 col-form-label">จังหวัด</label>
              <div class="col-8">
                <!--                              <input v-model="form.location_province" id="location"-->
                <!--                                     class="form-control" type="text">-->
                <multiselect
                  class="w-100"
                  id="location_province"
                  v-model="form.location_province"
                  @input="getDistricts(form.location_province)"
                  :options="optionProvince"
                  select-label=""
                  selectedLabel=""
                  deselect-label=""
                  label="name"
                  placeholder="เลือกจังหวัด"
                  track-by="name">
                </multiselect>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 form-group row">
              <label class="col-4 col-form-label">อำเภอ</label>
              <div class="col-8">
                <!--                              <input v-model="form.location_district" id="location"-->
                <!--                                     class="form-control" type="text">-->
                <multiselect
                  class="w-100"
                  v-model="form.location_district"
                  id="location_district"
                  :options="optionDistrict"
                  @input="getSubDistricts(form.location_district)"
                  select-label=""
                  selectedLabel=""
                  deselect-label=""
                  label="name"
                  placeholder="เลือกอำเภอ"
                  track-by="name"
                  :allow-empty="false">
                </multiselect>
              </div>
            </div>
            <div class="col-md-4 col-sm-7 form-group row">
              <label class="col-4 col-form-label">ตำบล</label>
              <div class="col-8">
                <!--                              <input v-model="form.location_sub_district" id="location"-->
                <!--                                     class="form-control" type="text">-->
                <multiselect
                  class="w-100"
                  v-model="form.location_sub_district"
                  id="location_sub_district"
                  :options="optionSubDistrict"
                  select-label=""
                  selectedLabel=""
                  deselect-label=""
                  label="district"
                  placeholder="เลือกตำบล"
                  track-by="district"
                  :allow-empty="false">
                </multiselect>
              </div>
            </div>
            <div class="col-md-4 col-sm-7 form-group row">
              <label class="col-4 col-form-label">ละติจูด</label>
              <div class="col-8">
                <input v-model="form.lat"
                       class="form-control"
                       lang="en" type="text" disabled>
              </div>
            </div>
            <div class="col-md-4 col-sm-7 form-group row">
              <label class="col-4 col-form-label">ลองจิจูด</label>
              <div class="col-8">
                <input v-model="form.lng"
                       class="form-control"
                       lang="en" type="text" disabled>
              </div>
            </div>
          </div>

          <div class="mt-3 row">
            <div class="col-lg-6 form-group row">
              <label class="col-4  col-form-label">2. ลักษณะการเกิดเหตุ</label>
              <div class="col-8">
                <div class="input-group ">
                  <select v-model="form.type_event" id="type_event"
                          class="browser-default custom-select">
                    <option value="" disabled hidden>เลือกลักษณะการเกิดเหตุ</option>
                    <option value="1">การจมน้ำตายและจมน้ำจากอุบัติเหตุ (W65-W74)</option>
                    <option value="2">อุบัติเหตุการขนส่งทางน้ำ (V90-V94)</option>
                    <option value="3">ผู้ประสบภัยจากอุทกภัย/พายุ/แรงธรรมชาติอื่นๆ (X36-X38)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3 row">
            <div class="col-lg-5 form-group row">
              <label class="col-lg-5 col-4 col-form-label">3. วันที่เกิดเหตุ</label>
              <div class="col-lg-7 col-8">
                <date-picker :lang="lang"
                             :not-after="currentDate"
                             v-model="form.date_of_event"
                             id="date_of_event"
                             :format="changeFormat"
                             width="100%">
                </date-picker>
              </div>
            </div>
            <div class="col-lg-5 form-group row offset-lg-1">
              <label class="col-lg-5 col-4 col-form-label">เวลาที่เกิดเหตุ</label>
              <div class="col-lg-6 col-8">

                <date-picker v-model="form.time_of_event"
                             style="width: 100%"
                             lang="en"
                             type="time"
                             valueType="format"
                             format="HH:mm:ss"
                             placeholder="เวลาที่เกิดเหตุการณ์">
                </date-picker>

                <!--                                <input v-model="form.time_of_event" id="time_of_event"-->
                <!--                                       class="form-control"-->
                <!--                                       lang="en" type="time"-->
                <!--                                       placeholder="เวลาที่เกิดเหตุการณ์">-->
              </div>
            </div>
          </div>

          <div class="mt-3 row">
            <div class="col-lg-6 form-group row">
              <label class="col-lg-7 col-md-5 col-6 col-form-label">4. จำนวนคนที่เกิดเหตุในเหตุการณ์เดียวกัน</label>
              <div class="col-lg-3 col-md-3 col-4" id="total_patient_div">
                <input v-model.number="form.total_patient" id="total_patient"
                       type="number" class="form-control" min="0">
              </div>
              <label class="col-lg-2 col-md-1 col-1 col-form-label">คน</label>
            </div>
          </div>
          <div class="mt-3 row">
            <div class="col-lg-3 col-md-6 form-group row">
              <label class="col-lg-5 col-md-3 col-3 col-form-label">เสียชีวิต</label>
              <div class="col-lg-5 col-md-6 col-4">
                <input v-model.number="form.death_patient" id="death_patient"
                       type="number" class="form-control" min="0" value="0" :max="form.total_patient">
              </div>
              <label class="col-lg-1 col-md-1 col-1 col-form-label">คน</label>
            </div>
            <div class="col-lg-3 col-md-6 form-group row">
              <label class="col-lg-5 col-md-3 col-3 col-form-label">บาดเจ็บ</label>
              <div class="col-lg-5 col-md-6 col-4">
                <input v-model.number="form.injury_patient" id="injury_patient"
                       type="number" class="form-control" min="0" value="0" :max="form.total_patient">
              </div>
              <label class="col-lg-1 col-md-1 col-1 col-form-label">คน</label>
            </div>
            <div class="col-lg-3 col-md-6 form-group row">
              <label class="col-lg-5 col-md-3 col-3 col-form-label">ไม่บาดเจ็บ</label>
              <div class="col-lg-5 col-md-6 col-4">
                <input v-model.number="form.no_injury_patient" id="injury_patient"
                       type="number" class="form-control" min="0" value="0" :max="form.total_patient">
              </div>
              <label class="col-lg-1 col-md-1 col-1 col-form-label">คน</label>
            </div>
          </div>


          <div class="mt-3 row ">
            <div class="col-12 form-group">
              <label>5. บรรยายเหตุการณ์ก่อนเกิดเหตุจนกระทั่งจมน้ำ</label>
            </div>
            <div class="offset-1 col-md-8 col-10 form-group">
                            <textarea v-model="form.cause_of_event" id="cause_of_event"
                                      class="form-control" rows="2"
                                      placeholder="- เหตุการณ์เกิดได้อย่างไร เหตุเกิดจากอะไร">
                            </textarea>
            </div>
            <div class="offset-1 col-md-8 col-10 form-group">
                            <textarea v-model="form.activity_during_event" id="activity_during_event"
                                      class="form-control" rows="2"
                                      placeholder="- กิจกรรมที่ทำขณะเกิดเหตุ">
                            </textarea>
            </div>
            <div class="offset-1 col-md-8 col-10 form-group">
                            <textarea v-model="form.proceed_after_event" id="proceed_after_event"
                                      class="form-control" rows="2"
                                      placeholder="- หลังเกิดเหตุดำเนินการอย่างไร">
                            </textarea>
            </div>
          </div>

          <div class="mt-3 row">
            <div class="col-12 row">
              <label class="col-lg-3 col-md-4 col-5 col-form-label">6. ประเภทแหล่งน้ำที่เกิดเหตุ</label>
              <div class="col-lg-4 col-md-5 col-7">
                <div class="input-group mb-3">
                  <multiselect
                    class="style-multiselect"
                    v-model="form.type_water"
                    id="type_water"
                    :options="optionTypeWater"
                    select-label=""
                    selectedLabel=""
                    deselect-label=""
                    label="type_water"
                    placeholder="เลือกประเภทแหล่งน้ำที่เกิดเหตุ"
                    track-by="id">
                  </multiselect>
                </div>
              </div>
            </div>
            <template class="col-12" v-if="form.type_water">
              <label class="pl-lg-4 pl-4 pr-3 mb-0 col-form-label"
                     style="font-size:20px;color: darkgray;">
                * {{form.type_water.description}}
              </label>
            </template>

            <div class="mt-3 col-12 row">
              <label class="col-lg-3 col-md-3 col-4 col-form-label" id="depth_level_metre">ระดับความลึก</label>
              <div class="col-lg-2 col-md-4 col-5">
                <div class="input-group mb-3">
                  <input v-model="form.depth_level_metre" id="depth_level_metre"
                         type="number" class="form-control" min="0">
                </div>
              </div>
              <label class="col-2 col-form-label">เมตร</label>
              <div class="offset-lg-0 col-lg-2 offset-md-3 col-md-4 col-5 offset-4">
                <div class="input-group mb-3">
                  <input v-model="form.depth_level_centimeter" id="depth_level_centimeter"
                         type="number" class="form-control" min="0" max="99">
                </div>
              </div>
              <label class="col-2 col-form-label">เซนติเมตร</label>

            </div>

          </div>
          <div class="mt-3 row ">
            <label class="col-12">7. การจัดการแหล่งน้ำเสี่ยง</label>
            <div class="col-md-6 mt-3">
              <label class="col-lg-12 text-head mb-0">ก่อนเกิดเหตุ</label>
              <hr width="90%">
              <div class="offset-1 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="radio" value="1"
                         class="custom-control-input"
                         @change="clearCheckboxBefore()"
                         v-model="form.has_management_risk_before_id"
                         id="no_management_risk">
                  <label class="custom-control-label" for="no_management_risk">ไม่มี</label>
                </div>
              </div>
              <div class="offset-1 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="radio" value="2"
                         v-model="form.has_management_risk_before_id"
                         @change="clearCheckboxBefore()"
                         class="custom-control-input"
                         id="management_risk_before1">
                  <label class="custom-control-label" for="management_risk_before1">มี โปรดระบุ (ตอบได้มากกว่า 1
                    ข้อ)</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="1"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before2">
                  <label class="custom-control-label" for="management_risk_before2">รั้ว</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="2"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before3">
                  <label class="custom-control-label" for="management_risk_before3">ป้ายคำเตือน</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="3"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before4">
                  <label class="custom-control-label" for="management_risk_before4">ห่วงชูชีพ</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="4"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before5">
                  <label class="custom-control-label" for="management_risk_before5">ไม้</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="5"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before6">
                  <label class="custom-control-label" for="management_risk_before6">แกลอนพลาสติก</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="6"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before7">
                  <label class="custom-control-label" for="management_risk_before7">ขวดน้ำพลาสติก</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="7"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input" id="management_risk_before8">
                  <label class="custom-control-label" for="management_risk_before8">เชือก</label>
                </div>
              </div>
              <div class="offset-2 row pb-0">
                <div class="col-lg-4 col-5 col-form-label custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="8"
                         v-model="form.management_risk_before_id"
                         @change="checkboxBefore()"
                         class="custom-control-input col-1"
                         id="management_risk_before9">
                  <label class="custom-control-label"
                         for="management_risk_before9">
                    อื่นๆ โปรดระบุ
                  </label>
                </div>
                <div class="col-5 input-group mb-3 pl-0 pr-0">
                  <input
                    :disabled="form.has_management_risk_before_id != null && ( form.has_management_risk_before_id ==1 || !form.management_risk_before_id.includes('8'))"
                    v-model="form.other_management_risk_before"
                    id="other_management_risk_before"
                    class="form-control" type="text">
                </div>
              </div>

            </div>
            <div class="vl"></div>
            <div class="col-md-6 mt-3 pl-0">
              <label class="col-lg-12 text-head mb-0">หลังเกิดเหตุ (1 เดือน)</label>
              <hr width="90%">
              <div class="offset-1 row col-form-label pb-0">
                <div class="custom-control custom-checkbox ">
                  <input type="radio" class="custom-control-input"
                         v-model="form.has_management_risk_after_id"
                         @change="clearCheckboxAfter()"
                         id="no_management_risk_after" value="1"
                         name="has_deliver">
                  <label class="custom-control-label" for="no_management_risk_after">ไม่มี</label>
                </div>
              </div>
              <div class="offset-1 row col-form-label pb-0 ">
                <div class="pl-0 custom-control custom-checkbox custom-checkbox">
                  <div class="custom-control custom-checkbox ">
                    <input type="radio" class="custom-control-input"
                           v-model="form.has_management_risk_after_id"
                           id="management_risk_after" value="2"
                           name="has_deliver">
                    <label class="custom-control-label" for="management_risk_after">มี โปรดระบุ (ตอบได้มากกว่า 1
                      ข้อ)</label>
                  </div>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="1"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after2">
                  <label class="custom-control-label" for="management_risk_after2">รั้ว</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="2"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after3">
                  <label class="custom-control-label" for="management_risk_after3">ป้ายคำเตือน</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="3"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after4">
                  <label class="custom-control-label" for="management_risk_after4">ห่วงชูชีพ</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="4"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after5">
                  <label class="custom-control-label" for="management_risk_after5">ไม้</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="5"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after6">
                  <label class="custom-control-label" for="management_risk_after6">แกลอนพลาสติก</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="6"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after7">
                  <label class="custom-control-label" for="management_risk_after7">ขวดน้ำพลาสติก</label>
                </div>
              </div>
              <div class="offset-2 row col-form-label pb-0">
                <div class="custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="7"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input" id="management_risk_after8">
                  <label class="custom-control-label" for="management_risk_after8">เชือก</label>
                </div>
              </div>
              <div class="offset-2 row pb-0">
                <div class="col-lg-4 col-5 col-form-label custom-control custom-checkbox custom-checkbox">
                  <input type="checkbox" value="8"
                         v-model="form.management_risk_after_id"
                         @change="checkboxAfter()"
                         class="custom-control-input col-1"
                         id="management_risk_after9">
                  <label class="custom-control-label"
                         for="management_risk_after9">
                    อื่นๆ โปรดระบุ
                  </label>
                </div>
                <div class="col-5 input-group mb-3 pl-0 pr-0">
                  <input
                    :disabled="form.has_management_risk_after_id !=null && (form.has_management_risk_after_id ==1 || !form.management_risk_after_id.includes('8'))"
                    v-model="form.other_management_risk_after"
                    id="other_management_risk_after"
                    class="form-control" type="text">
                </div>
              </div>

            </div>
            <hr class="mr-5">
          </div>
        </div>

      </div>
    </form>

    <div class="mt-5 text-center">
      <b-button @click="saveEvent"
                class="btn-submit">
        บันทึก
      </b-button>
    </div>
    <!--              <pre class="alert-primary">{{form.management_risk_before_id.length}}</pre>-->
    <!--                <pre class="alert-danger">{{form}}</pre>-->
    <!--                <pre class="alert-success">{{ markers}}</pre>-->
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import Multiselect from 'vue-multiselect';
  import DatePicker from 'vue2-datepicker/lib/datepicker.js'
  import moment from "moment";

  export default {
    name: "EventForm",
    components: {
      DatePicker,
      Multiselect
    },
    props: {
      id: {default: null}
    },
    created() {
      this.$swal.close();
      this.$store.dispatch("Common/setProvince");
      this.$store.dispatch("Common/setTypeWater");
      this.$store.dispatch("Common/setDepartments");
      this.getCurrentDate();
      if (this.form.id) {
        this.markers.push({position: this.startLocation});
      }
    },
    data() {
      return {
        changeFormat: {
          stringify: (date) => {
            return date ? moment(date).add(543, 'y').format('DD-MM-YYYY') : null
          },
          parse: (value) => {
            return value ? moment(value, 'DD-MM-YYYY').subtract(543, 'y').toDate() : null
          }
        },
        lang: {
          days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
          months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
          pickers: ['ถัดไป 7 วัน', 'ถัดไป 30 วัน', 'ก่อนหน้า 7 วัน', 'ก่อนหน้า 30 วัน'],
          placeholder: {
            date: 'วว/ดด/ปปปป',
          }
        },
        management_risk: [],
        dateCurrent: new Date().toISOString().slice(0, 10),
        time: "",
        currentDate: "",
        infoPosition: null,
        infoContent: null,
        subDistrict: null,
        district: null,
        province: null,
        latitude: null,
        longtitude: null,
        infoOpened: true,
        infoCurrentKey: null,
        infoOptions: {
          pixelOffset: {
            width: 0,
            height: -35
          }
        },
        markers: [],
        places: [],
        show: true,
        currentPlace: [],
      }
    },
    computed: {
      ...mapState({
        user_login: state => {
          return state.Auth.user_login
        },
        form: state => {
          return state.Event.form;
        },
        optionProvince: state => {
          return state.Common.provinces;
        },
        optionDistrict: state => {
          return state.Common.districts;
        },
        optionSubDistrict: state => {
          return state.Common.sub_districts;
        },
        optionTypeWater: state => {
          return state.Common.type_water;
        },
        optionDepartments: state => {
          return state.Common.departments;
        },
        startLocation: state => {
          return state.Event.startLocation;
        }
      })
    },
    mounted() {
      // console.log(this.startLocation)
      // this.setPlace(this.startLocation)
    },
    methods: {
      getCurrentDate() {
        this.currentDate = moment().format("YYYY-MM-DD");
      },
      validPhoneNumber: function (phone_number) {
        var re = /^[0][0-9]{8}$/;
        var re2 = /^[0][0-9]{9}$/;
        if (phone_number.match(re) || phone_number.match(re2)) {
          return true;
        } else {
          return false;
        }
      },
      getDistricts(province) {
        if (province) {
          this.form.location_district = null;
          this.form.location_sub_district = null;
          this.$store.dispatch('Common/setDistrict', province.code);
        }
      },
      getSubDistricts(district) {
        if (district) {
          this.form.location_sub_district = null;
          this.$store.dispatch('Common/setSubDistrict', district.district_id);
        }
      },
      clearCheckboxBefore() {
        if (this.form.has_management_risk_before_id == 1) {
          this.form.management_risk_before_id = [];
          this.form.other_management_risk_before = "";
        }
      },
      checkboxBefore() {
        if ((this.form.has_management_risk_before_id == 1 || this.form.has_management_risk_before_id == "") && this.form.management_risk_before_id.length > 0) {
          this.form.has_management_risk_before_id = 2;
        }
      },
      checkboxAfter() {
        if ((this.form.has_management_risk_after_id == 1 || this.form.has_management_risk_after_id == "") && this.form.management_risk_after_id.length > 0) {
          this.form.has_management_risk_after_id = 2;
        }
      },
      clearCheckboxAfter() {
        if (this.form.has_management_risk_after_id == 1) {
          this.form.management_risk_after_id = [];
          this.form.other_management_risk_after = "";
        }
      },
      showErrorFill(element, message) {
        this.$scrollTo(element, 1000, {easing: 'ease', cancelable: false, offset: -100})
        const Toast = this.$swal.fire({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          type: 'error',
          title: message
        })
      },
      saveEvent() {
        if (!this.form.name) {
          this.showErrorFill('#name', 'กรุณากรอกชื่อผู้รายงาน');
        } else if (!this.form.role) {
          this.showErrorFill('#role', 'กรุณากรอกตำแหน่ง');
        } else if (!this.form.department) {
          this.showErrorFill('#department', 'กรุณากรอกหน่วยงาน');
        } else if (!this.form.province_department) {
          this.showErrorFill('#province_department', 'กรุณากรอกเลือกจังหวัด');
        } else if (!this.form.phone_number_department) {
          this.showErrorFill('#phone_number_department', 'กรุณากรอกเบอร์โทรศัพท์');
        } else if (!this.validPhoneNumber(this.form.phone_number_department)) {
          this.showErrorFill('#phone_number_department', 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง เช่น 0102345678');
        } else if (!this.form.report_date) {
          this.showErrorFill('#report_date', 'กรุณาเลือกวันที่รายงาน');
        } else if (!this.form.location) {
          this.showErrorFill('#searchLocation', 'กรุณากรอกสถานที่เกิดเหตุ');
        } else if (!this.form.village_no) {
          this.showErrorFill('#village_no', 'กรุณากรอกหมู่');
        } else if (!this.form.location_province) {
          this.showErrorFill('#location_province', 'กรุณาเลือกจังหวัดสถานที่เกิดเหตุ');
        } else if (!this.form.location_district) {
          this.showErrorFill('#location_district', 'กรุณาเลือกอำเภอสถานที่เกิดเหตุ');
        } else if (!this.form.location_sub_district) {
          this.showErrorFill('#location_sub_district', 'กรุณาเลือกตำบลสถานที่เกิดเหตุ');
        }
        // else if (!this.form.type_event) {
        //     this.showErrorFill('#type_event', 'กรุณาเลือกลักษณะการเกิดเหตุ');
        // }
        // else if (!this.form.date_of_event) {
        //     this.showErrorFill('#date_of_event', 'กรุณาเลือกวันที่เกิดเหตุ');
        // }
        // else if (!this.form.time_of_event) {
        //     this.showErrorFill('#time_of_event', 'กรุณาเลือกเวลาที่เกิดเหตุ');
        // }
        else if (!this.form.total_patient) {
          this.showErrorFill('#total_patient', 'กรุณากรอกจำนวนผู้เกิดเหตุ')
        }
        else if (((this.form.injury_patient === "" ? 0 : this.form.injury_patient) + (this.form.death_patient === "" ? 0 : this.form.death_patient) + (this.form.no_injury_patient === "" ? 0 : this.form.no_injury_patient)) != this.form.total_patient) {
          this.showErrorFill('#total_patient', 'กรุณากรอกจำนวนผู้บาดเจ็บและผู้เสียชีวิตให้ถูกต้อง');
        }
        // else if (!this.form.cause_of_event) {
        //     this.showErrorFill('#cause_of_event', 'กรุณากรอกสาเหตุการเกิดเหตุการณ์');
        // }
        // else if (!this.form.activity_during_event) {
        //     this.showErrorFill('#activity_during_event', 'กรุณากรอกกิจกรรมทีท่าขณะเกิดเหตุ');
        // }
        // else if (!this.form.proceed_after_event) {
        //     this.showErrorFill('#proceed_after_event', 'กรุณากรอกการดำเนินการหลังเกิดเหตุการณ์');
        // }
        // else if (!this.form.type_water) {
        //     this.showErrorFill('#type_water', 'กรุณาเลือกประเภทของแหล่งน้ำที่เกิดเหตุ');
        // }
        // else if (!this.form.depth_level_metre && !this.form.depth_level_centimeter) {
        //     this.showErrorFill('#depth_level_metre', 'กรุณากรอกระดับความลึกของแหล่งน้ำ')
        // }
        // else if (this.form.depth_level_metre < 0 || this.form.depth_level_centimeter < 0 || this.form.depth_level_centimeter > 99) {
        //     this.showErrorFill('#depth_level_metre', 'กรุณากรอกระดับความลึกของแหล่งน้ำให้ถูกต้อง');
        // }
        // else if (this.form.has_management_risk_before_id == "") {
        //     this.showErrorFill('#has_management_risk_before_id', 'กรุณาเลือกการจัดการแหล่งน้ำเสี่ยงก่อนเกิดเหตุ');
        // }
        // else if (this.form.has_management_risk_before_id == 2 && this.form.management_risk_before_id == "") {
        //     this.showErrorFill('#management_risk_before_id', 'กรุณาเลือกวิธีการจัดการแหล่งน้ำเสี่ยงก่อนเกิดเหตุ');
        // }
        // else if (this.form.has_management_risk_before_id == 2 && this.form.management_risk_before_id.includes('8') && !this.form.other_management_risk_before) {
        //     this.showErrorFill('#has_management_risk_before_id', 'กรุณาระบุวิธีการจัดการแหล่งน้ำเสี่ยงก่อนเกิดเหตุ');
        // }
        // else if (this.form.has_management_risk_after_id == "") {
        //     this.showErrorFill('#has_management_risk_after_id', 'กรุณาเลือกการจัดการแหล่งน้ำเสี่ยงหลังเกิดเหตุ');
        // }
        // else if (this.form.has_management_risk_after_id == 2 && this.form.management_risk_after_id == "") {
        //     this.showErrorFill('#management_risk_after_id', 'กรุณาเลือกวิธีการจัดการแหล่งน้ำเสี่ยงหลังเกิดเหตุ');
        // }
        // else if (this.form.has_management_risk_after_id == 2 && this.form.management_risk_after_id.includes('8') && !this.form.other_management_risk_after) {
        //     this.showErrorFill('#other_management_risk_after', 'กรุณาระบุวิธีการจัดการแหล่งน้ำเสี่ยงหลังเกิดเหตุ');
        // }
        else {
          if (this.form.province_department) {

            this.form.province_department_id = this.form.province_department.id;
          }
          if (this.form.department) {

            this.form.department_id = this.form.department.id;
          }
          //change date format
          if (this.form.report_date) {
            this.form.report_date = moment(this.form.report_date).format("YYYY-MM-DD");
          }
          if (this.form.location_province) {
            this.form.location_province_id = this.form.location_province.id;
          }
          if (this.form.type_water) {
            this.form.type_water_id = this.form.type_water.id;
          }
          if (this.form.location_district) {
            this.form.location_district_id = this.form.location_district.id;
          }
          if (this.form.location_sub_district) {
            this.form.location_sub_district_id = this.form.location_sub_district.id;
          }
          //change date format
          if (this.form.date_of_event) {
            this.form.date_of_event = moment(this.form.date_of_event).format("YYYY-MM-DD");
          }

          if (this.markers[0]) {
            this.form.lat = this.markers[0].position.lat;
            this.form.lng = this.markers[0].position.lng;
          }

          let data = {
            user_id: this.user_login.user.id,
            name: this.form.name,
            role: this.form.role,
            department_id: this.form.department_id,
            province_department_id: this.form.province_department_id,
            phone_number_department: this.form.phone_number_department,
            fax_number_department: this.form.fax_number_department,
            report_date: this.form.report_date,
            location: this.form.location,
            lat: this.form.lat,
            lng: this.form.lng,
            village_no: this.form.village_no,
            location_province_id: this.form.location_province_id,
            location_district_id: this.form.location_district_id,
            location_sub_district_id: this.form.location_sub_district_id,
            type_event: this.form.type_event,
            date_of_event: this.form.date_of_event,
            time_of_event: this.form.time_of_event,
            total_patient: this.form.total_patient,
            death_patient: this.form.death_patient,
            injury_patient: this.form.injury_patient,
            no_injury_patient: this.form.no_injury_patient,
            cause_of_event: this.form.cause_of_event,
            activity_during_event: this.form.activity_during_event,
            proceed_after_event: this.form.proceed_after_event,
            type_water_id: this.form.type_water_id,
            depth_level_metre: this.form.depth_level_metre,
            depth_level_centimeter: this.form.depth_level_centimeter,
            has_management_risk_before_id: this.form.has_management_risk_before_id,
            management_risk_before_id: this.form.management_risk_before_id.toString(),
            has_management_risk_after_id: this.form.has_management_risk_after_id,
            management_risk_after_id: this.form.management_risk_after_id.toString(),
            other_management_risk_before: this.form.other_management_risk_before,
            other_management_risk_after: this.form.other_management_risk_after,
          };
          const order = 1;
          this.$store.dispatch("Event/saveEvent", {
            id: this.form.id,
            data: data
          }).then(data => {
            this.$store.dispatch("Event/showEvent", this.form.id);
            this.showSaveEvenFill();
            this.$store.dispatch("Patient/setOrder", order);
            this.$router.push({
              name: "DrowningForm",
              params: {order}
            })
          });


        }
      },
      showSaveEvenFill(message) {
        // const Toast = this.$swal.fire(
        //     'บันทึกเรียบร้อย',
        // )
        const Toast = this.$swal.fire({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 2000,
          type: 'success',
          title: 'บันทึกเรียบร้อย'
        })
      },
      //set ตำแหน่งของ marker
      getPosition(marker) {
        return {
          lat: parseFloat(marker.position.lat),
          lng: parseFloat(marker.position.lng)
        }
      },
      //****** */
      toggleInfo() {
        this.infoOpened = true;
      },
      setLocation(marker) {
        this.markers.pop();
        this.markers.push({position: marker});
        this.form.lat = marker.lat;
        this.form.lng = marker.lng;
        this.startLocation.lat = marker.lat;
        this.startLocation.lng = marker.lng;
        this.center = marker;
        // if(this.form.location_province){
        //     this.form.location_province= null;
        //     this.form.location_district= null;
        //     this.form.location_sub_district= null;
        // }

      }
      ,
      setPlace(place) {
        //"1839 Phahonyothin Rd, Khwaeng Lat Yao, Khet Chatuchak, Krung Thep Maha Nakhon 10900, Thailand"
        this.currentPlace = place;
        if (this.currentPlace) {

          this.form.location = place.name;
          // this.form.location_province = place.address_components[3].long_name;
          // this.form.location_district = place.address_components[2].long_name;
          // this.form.location_sub_district = place.address_components[1].long_name;

          const marker = {
            lat: this.currentPlace.geometry.location.lat(),
            lng: this.currentPlace.geometry.location.lng()
          };
          this.setLocation(marker);
          this.places.push(this.currentPlace.name);

        } else if (this.form.name) {
          this.places.push(this.form.name);
        }
      },
      setPlaceNEW(place) {
        // console.log(place);
        let latLngtxt = place.latLng.toString()
        var setlatLng = latLngtxt.split(/[\s,()]+/)
        const marker = {
          lat: Number(setlatLng[1]),
          lng: Number(setlatLng[2])
        };
        console.log(marker);

        this.setLocation(marker)

        var geocoder = new google.maps.Geocoder();
        var self = this;
        geocoder.geocode({'location': place.latLng, 'language': 'th' }, function(results, status){
          if (status === 'OK') {
            console.log(results);
            results.forEach(self.getAddress);
          }
        })
        //
        // let newCurrentPlace = place.latLng.toString()
        // let latLng = newCurrentPlace.split(/[\s,()]+/)
        // this.currentPosition = { lat: Number(latLng[1]), lng: Number(latLng[2]) }
        // console.log(place);
      },
      getAddress(item, index) {

        var type = item.types[0];
        var address = item.address_components;

        if ((type == 'locality' && address[0].long_name != 'กรุงเทพมหานคร' )
          || (type == 'political' && address[2].long_name == 'กรุงเทพมหานคร')) {
          console.log("inside",type,address[0].long_name);
          var my_province = item.address_components[2].long_name;
          var my_district = item.address_components[1].long_name;
          my_district = my_district.replace("อำเภอ", "").replace("เขต", "").trim();
          var my_subdistrict = item.address_components[0].long_name;
          console.log(my_subdistrict)
          my_subdistrict = my_subdistrict.replace("ตำบล", "").replace("แขวง", "").trim();
          console.log(my_province);
          console.log(my_district);
          console.log(my_subdistrict);
          this.setSelectLocation(my_province,my_district,my_subdistrict)
          for (var i = 1 ;  i <= 3 ; i++){
            setTimeout( this.setSelectLocation, 300 * i,my_province,my_district,my_subdistrict);
          }
        }
      },
      setSelectLocation(province,district, subdistrict){
        console.log(Date.now(),province,district,subdistrict)
        var self = this;
        this.optionProvince.forEach( async function (data, index) {
          if(data.name.trim().includes(province)){

            if(!this.form.location_province || !self.form.location_province.name.trim().includes(province)){
              self.form.location_district = null
              self.getDistricts(data)
            }
            self.form.location_province = data;

            var self_2 = self;
            self.optionDistrict.forEach( async function (data, index) {
              if( data.name.trim().includes(district) ){


                if( self_2.form.location_district != null ){
                  self_2.getSubDistricts(data)
                }
                self_2.form.location_district = data;

                var self_3 = self_2;
                self_2.optionSubDistrict.forEach( async function (data, index) {
                  if( data.district.trim().includes(subdistrict) ){
                    self_3.form.location_sub_district = data;
                  }
                })
              }
            })
          }
        })
      },
      geocodeLatLng(geocoder, map, infowindow) {
        var input = document.getElementById('latlng').value;
        var latlngStr = input.split(',', 2);
        var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'location': latlng}, function (results, status) {
          // console.log(results[0]);
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(15);
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });
              infowindow.setContent(results[0].formatted_address);

              infowindow.open(map, marker);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }
    }
  }
</script>

<style scoped>

  .btn-submit {
    font-size: 28px;
    font-weight: 700;
    background-color: #006738;
    padding: 4px 25px;
  }

  .style-multiselect {
    padding-left: 15px;

  }

  .text-head {
    color: #606060;
    font-weight: 700;
    text-align: center;
  }

  .form-div {
    background: #FCFCFC;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .form-div label {
    font-size: 20px;
    color: #606060;
  }

  .custom-select option {
    font-size: 20px !important;
    color: #606060 !important;
    font-weight: 700 !important;
  }

  .custom-select {
    font-size: 20px !important;
    color: #606060 !important;
    font-weight: 700 !important;
  }

  .form-control {
    font-size: 20px;
    font-weight: 700;
    color: #606060;
  }

  textarea {
    resize: none;
  }

  option {
    font-size: 19px;
    font-weight: 700 !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #006738;
    background-color: #006738;
  }

  .custom-control-label::before {
    background-color: #FCFCFC;
    border: #006738 solid 2px;
  }

  .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-color: #FCFCFC;
    border: #006738 solid 2px;
    border-radius: 4px;
  }

  .vl {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 450px;
    width: 6px;
    margin-left: -7px;
  }

  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.2)
  }

  .mx-datepicker {
    font-family: 'Circular', sans-serif !important;
    color: #495057 !important;
  }

  @media only screen and (max-width: 767px) {
    .vl {
      border-left: 0;
    }

    h2 {
      font-size: 1.5em;
    }

    .form-div label {
      font-size: 19px;
    }

    .form-div input {
      font-size: 19px;
    }
  }

  @media only screen and (max-width: 400px) {
    .form-div label {
      font-size: 17px;
      color: #606060;
    }

    h2 {
      font-size: 1.5em;
    }

    .form-div label {
      font-size: 15px;
    }

    .form-div input {
      font-size: 15px;
    }
  }
</style>
