<template>
    <div class="container mt-5" style="font-size: 28px">
        <div class="row">
            <div class="offset-md-1 col-md-5 offset-2 col-8 form-group">
                <div class="detail-content row ml-0 mr-0 " align="center">
                    <span class="pl-xl-4 pl-lg-5 pl-2"></span>
                    <img class="pl-xl-5 pl-lg-3 pl-4 img-detail " src="../../assets/detail-image-1.png">
                    <div class="text-right ml-4">
                        <span >เสียชีวิต</span>
                        <br>
                        <template v-if="countPatient[0].death_patient_total">
                            <span>{{countPatient[0].death_patient_total}} ราย</span>
                        </template>
                        <template v-else>
                            <span>0 ราย</span>
                        </template>
                    </div>
                </div>
            </div>
            <div class="offset-md-0 col-md-5 offset-2 col-8 form-group">
                <div class="detail-content row ml-0 mr-0 ">
                    <span class="pl-xl-4 pl-lg-5 pl-2"></span>
                    <img class="pl-xl-5 pl-lg-3 pl-4 img-detail " src="../../assets/detail-image-2.png">
                    <div class="text-right ml-4">
                        <span >ไม่เสียชีวิต</span>
                        <br>
                        <template v-if="countPatient[0].injury_patient_total">
                            <span>{{countPatient[0].injury_patient_total}} ราย</span>
                        </template>
                        <template v-else>
                            <span>0 ราย</span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 content ">
            <b-nav tabs link style="font-size: 22px">
                <b-nav-item @click="show_table = 1" :class="{active: show_table === 1}">
                    รายเหตุการณ์ </b-nav-item>&nbsp
                <b-nav-item @click="show_table = 2" :class="{active: show_table === 2}">
                    รายบุคคล </b-nav-item>&nbsp
            </b-nav>

            <nav class="mt-3 navbar navbar-expand-lg navbar-light">
                <div class="ml-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <template v-if="show_table == 1">
                            <input  v-model="search.name"
                                    class="form-group form-control ml-3 mr-sm-2 "
                                    type="text"
                                    placeholder="ชื่อ-นามสกุล/เลขประจำตัวประชาชน"/>
                            <multiselect
                                    v-model="search.province"
                                    class="form-control select"
                                    :options="optionProvince"
                                    select-label=""
                                    selectedLabel=""
                                    deselect-label=""
                                    label="name"
                                    placeholder="เลือกจังหวัด"
                                    track-by="name">
                            </multiselect>
                            <date-picker v-model="search.start_date"
                                         ref="datePicker"
                                         :not-after="this.currentDate"
                                         :format="changeFormat"
                                         :lang="lang" placeholder="วันที่เกิดเหตุ (เริ่มต้น)" >
                            </date-picker >
                            &nbsp;
                            <date-picker v-model="search.end_date"
                                         ref="datePicker"
                                         :not-after="this.currentDate"
                                         :not-before="search.start_date"
                                         :format="changeFormat"
                                         :lang="lang" placeholder="วันที่เกิดเหตุ (สิ้นสุด)" >
                            </date-picker >
                            &nbsp;

                            <b-button class=" btn btn-success my-2 my-sm-0 pb-0"
                                      @click="searchEvent" variant="dark"
                                      type="button">
                                <i class="fas fa-search"></i> ค้นหา
                            </b-button>
                            &nbsp;
                            <b-button class="btn btn-success my-2 my-sm-0 pb-0"  variant="dark">
                                <download-excel
                                        style="background-color: #006738;font-size: 20px;font-weight: 700"
                                        :fetch   = "fetchDataEvent"
                                        :fields = "json_fields_event"
                                        :meta="json_meta"
                                        worksheet = "Event Data"
                                        name    = "event_data.xls">
                                    <i class="far fa-file-alt"></i> Excel
                                </download-excel>
                            </b-button>
                        </template>
                        <template v-else>

                            <input  v-model="search_patient.name"
                                    class="form-group form-control ml-3 mr-sm-2 "
                                    type="text"
                                    placeholder="ชื่อ-นามสกุล/เลขประจำตัวประชาชน"/>
                            <multiselect
                                    v-model="search_patient.province"
                                    class="form-control select"
                                    :options="optionProvince"
                                    select-label=""
                                    selectedLabel=""
                                    deselect-label=""
                                    label="name"
                                    placeholder="เลือกจังหวัด"
                                    track-by="name">
                            </multiselect>

                            <multiselect
                                    v-model="search_patient.event_id"
                                    class="form-control select"
                                    :options="optionEvent"
                                    select-label=""
                                    selectedLabel=""
                                    deselect-label=""
                                    label="id"
                                    placeholder="เลือกเหตุการณ์"
                                    track-by="id">
                            </multiselect>


                            <div class="input-group ">
                                <select v-model.number="search_patient.gender"
                                        class="browser-default custom-select">
                                    <option value="">เพศ</option>
                                    <option value="1">ชาย</option>
                                    <option value="2">หญิง</option>
                                </select>
                            </div>
                            &nbsp;
                            <b-button class="btn btn-success my-2 my-sm-0 pb-0"
                                      @click="searchPatient" variant="dark"
                                      type="button">
                                    <i class="fas fa-search"></i> ค้นหา
                            </b-button>
                            &nbsp;
                            <b-button class="btn btn-success my-2 my-sm-0 pb-0"  variant="dark">
                                    <download-excel
                                            style="background-color: #006738;font-size: 20px;font-weight: 700"
                                            :fetch   = "fetchDataPatient"
                                            :fields = "json_fields_patient"
                                            :meta   = "json_meta"
                                            name    = "patient_data.xls">
                                        <i class="far fa-file-alt"></i> Excel
                                    </download-excel>
                            </b-button>


                        </template>

                    </form>
                </div>
            </nav>
        </div>


        <div class="mt-2 table-responsive font-size" >
            <template v-if="show_table == 1">
                <table class="table table-borderless text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th @click="sortDataEven('id')">เหตุการณ์ที่
                          <i v-if="sort.field != 'id'"  class="fas fa-sort" style="color: #006738"></i>
                          <i v-if="sort.field == 'id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                          <i v-if="sort.field == 'id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                        </th>
                      <th @click="sortDataEven('report_date')">วันที่เกิดเหตุ
                        <i v-if="sort.field != 'report_date'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'report_date' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'report_date' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataEven('location_province_id')">จังหวัดที่เกิดเหตุ
                        <i v-if="sort.field != 'location_province_id'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_province_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_province_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataEven('location_district_id')">อำเภอ
                        <i v-if="sort.field != 'location_district_id'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_district_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_district_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataEven('location_sub_district_id')">ตำบล
                        <i v-if="sort.field != 'location_sub_district_id'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_sub_district_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_sub_district_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataEven('death_patient')">เสียชีวิต (ราย)
                        <i v-if="sort.field != 'death_patient'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'death_patient' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'death_patient' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataEven('injury_patient')">ไม่เสียชีวิต (ราย)
                        <i v-if="sort.field != 'injury_patient'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'injury_patient' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'injury_patient' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>

                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(data,index) in eventList">
                        <tr>
                            <td>
                                <a @click="goToEventForm(data.id)">
                                    <i class="far fa-edit" style="color: #006738"></i>
                                </a>
                            </td>
                            <td>
                                <a @click="printEventPDF(data.id)">
                                    <i class="fas fa-print " style="color: #006738"></i>
                                </a>
                            </td>
                            <td>
                                {{data.id}}
                            </td>
                            <td>
                                {{data.report_date | moment('DD/MM/YYYY')}}
                            </td>
                            <td>
                                {{data.location_province.name}}
                            </td>
                            <td>
                                {{data.location_sub_district.amphoe}}
                            </td>
                            <td>
                                {{data.location_sub_district.district}}
                            </td>
                            <td>
                                {{data.death_patient}}
                            </td>
                            <td>
                                {{data.injury_patient}}
                            </td>
                        </tr>
                    </template>

                    </tbody>
                </table>
            </template>

            <template v-else>
                <table class="table table-borderless text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th @click="sortDataPatient('event_id')">เหตุการณ์ที่
                          <i v-if="sort.field != 'event_id'"  class="fas fa-sort" style="color: #006738"></i>
                          <i v-if="sort.field == 'event_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                          <i v-if="sort.field == 'event_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                        </th>
                        <th @click="sortDataPatient('order')">รายที่
                          <i v-if="sort.field != 'order'"  class="fas fa-sort" style="color: #006738"></i>
                          <i v-if="sort.field == 'order' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                          <i v-if="sort.field == 'order' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                        </th>
                      <th @click="sortDataPatient('first_name')">ชื่อ
                        <i v-if="sort.field != 'first_name'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'first_name' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'first_name' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataPatient('gender_id')">เพศ
                        <i v-if="sort.field != 'gender_id'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'gender_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'gender_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataPatient('age')">อายุ (ปี)
                        <i v-if="sort.field != 'age'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'age' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'age' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                      <th @click="sortDataPatient('location_province_id')">จังหวัด
                        <i v-if="sort.field != 'location_province_id'"  class="fas fa-sort" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_province_id' && sort.sortType === 'desc'" class="fas fa-sort-up" style="color: #006738"></i>
                        <i v-if="sort.field == 'location_province_id' && sort.sortType === 'asc'"  class="fas fa-sort-down" style="color: #006738"></i>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(data,index) in patientList">
                        <tr>
                            <td>
                                <a @click="goToPatientForm(data.event_id,data.order)">
                                    <i class="far fa-edit" style="color: #006738"></i>
                                </a>
                            </td>
                            <td>
                                <a @click="printPatientPDF(data.id)">
                                    <i class="fas fa-print" style="color: #006738"></i>
                                </a>
                            </td>
                            <td>
                                {{data.event_id}}
                            </td>
                            <td>
                                {{data.order}}
                            </td>
                            <td>
                                <template v-if="data.first_name == '' && data.last_name == ''">
                                    ไม่ทราบชื่อ ไม่ทราบนามสกุล
                                </template>
                                <template v-else-if="data.first_name && data.last_name == ''">
                                    {{data.first_name}} ไม่ทราบนามสกุล
                                </template>
                                <template v-else-if="data.first_name == '' && data.last_name">
                                    ไม่ทราบชื่อ {{data.last_name}}
                                </template>
                                <template v-else>
                                    {{data.first_name}} {{data.last_name}}
                                </template>

                            </td>
                            <td>
                                <template v-if="data.gender_id== 1">
                                    ชาย
                                </template>
                                <template v-else-if="data.gender_id==2">
                                    หญิง
                                </template>
                                <template v-else>
                                  ไม่ทราบเพศ
                                </template>
                            </td>
                            <td>
                              <template v-if="data.age">
                                {{data.age}}
                              </template>
                              <template v-else>
                                ไม่ทราบอายุ
                              </template>
                            </td>
                            <td>
                                <template v-if="data.location_province_id">
                                    {{data.location_province.name}}
                                </template>
                                <template v-else>
                                    ไม่ทราบที่อยู่
                                </template>
                            </td>
                        </tr>
                    </template>

                    </tbody>
                </table>
            </template>
        </div>

        <template v-if="show_table == 1">
            <div v-if="eventList.length > 0">
                <vue-pagination :pagination="dataPaginate"
                                @paginate="getEvent">
                </vue-pagination>
            </div>
        </template>

        <template v-else-if="show_table == 2">
            <div v-if="patientList.length > 0">
                <vue-pagination :pagination="dataPaginatePatient"
                                @paginate="getPatient">
                </vue-pagination>
            </div>
        </template>
<!--      <pre class="alert-danger">{{user_login}}</pre>-->
    </div>


</template>

<script>
    import { mapState } from "vuex";
    import DatePicker from 'vue2-datepicker/lib/datepicker.js'
    import VuePagination from "../../components/Pagination";
    import Multiselect from 'vue-multiselect';
    import moment from "moment";
    import JsonExcel from 'vue-json-excel'
    import { domain } from "../../util/Constants";
    import axios from 'axios';

    export default {
        name: "Status",
        components: {
            DatePicker,
            VuePagination,
            Multiselect,
            JsonExcel
        },
        created(){
            if(this.user_login){
                this.sort.area_id = this.user_login.user.area_id;
                this.sort.user_type_id = this.user_login.user.user_type_id;
                this.sort.province_id = this.user_login.user.province_id;
                this.sort.hospital_code = this.user_login.user.hospital_code;
            }
            this.$store.dispatch("Event/clearSearch");
            this.$store.dispatch("Patient/clearSearch");
            this.$store.dispatch("Event/setEvent",this.sort);
            this.$store.dispatch("Common/setProvince",this.user_login.user.id);
            this.$store.dispatch("Patient/setPatient",this.sort);
            this.$store.dispatch("Event/getPatientAll");
            this.$store.dispatch("Event/setEventAll");
            this.getCurrentDate();
            // console.log(this.user_login.user.id)
        },
        computed: {
            ...mapState({
                eventList : state=>{
                    return state.Event.event
                },
                patientList : state=>{
                    return state.Patient.patient
                },
                dataPaginate:state=>{
                    return state.Event.dataPaginate;
                },
                dataPaginatePatient:state=>{
                    return state.Patient.dataPaginate;
                },
                countPatient : state=>{
                    return state.Event.patient_all;
                },
                optionProvince : state=>{
                    return state.Common.provinces;
                },
                optionEvent : state=>{
                    return state.Event.optionEvent;
                },
                search:state =>{
                    return state.Event.search;
                },
                search_patient:state =>{
                    return state.Patient.search;
                },
                user_login : state=>{
                    return state.Auth.user_login
                },
                event_form : state=>{
                    return state.Event.form;
                },
            })
        },
        data() {
            return {
                sort: {
                    page : 1,
                    field: "",
                    sortType: "",
                    area_id : "",
                    province_id:'',
                    user_type_id:'',
                    hospital_code:'',
                },
                changeFormat: {
                    stringify: (date) => {
                        return date ? moment(date).add(543, 'y').format('DD-MM-YYYY') : null
                    },
                    parse: (value) => {
                        return value ? moment(value, 'DD-MM-YYYY').subtract(543, 'y').toDate() : null
                    }
                },
                lang: {
                    days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
                    months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                    pickers: ['ถัดไป 7 วัน', 'ถัดไป 30 วัน', 'ก่อนหน้า 7 วัน', 'ก่อนหน้า 30 วัน'],
                    placeholder: {
                        date: 'วว/ดด/ปปปป',
                    }
                },
                event_submit: false,
                province_id: "",
                show_table: 1,
                currentDate: "",
                json_fields_patient: {
                    'ID เหตุการณ์': 'event_id',
                    'รายที่': 'order',
                    'สถาานะ': 'alive_status',
                    'ชื่อ': 'first_name',
                    'นามสกุล': 'last_name',
                    'สัญชาติ': 'nationality_name',
                    'เพศ': 'gender_name',
                    'อายุ (ปี)': 'age_all',
                    'รายที่': 'order',
                    'วันที่เริ่มมีอาการ': 'date_illness',
                    'วันที่รักษาวันแรก': 'date_treat',
                    'วันที่เสียชีวิต': 'date_death',
                    'สถานะหลังเกิดเหตุจมน้ำ': 'patient_status_name.patient_status',
                    'สถานะผู้ป่วยที่รับไว้รักษา': 'injure_patient_status_name.injure_patient_status',
                    'ความสามารถในการว่ายน้ำ': 'swimming_ability_name',
                    'ขณะเกิดเหตุ (ณ จุดเกิดเหตุ) คนที่จมน้ำอยู่กับใคร': 'people_with_patient_name',
                    'โดยขณะนั้นผู้ปกครองทำกิจกรรมดังนี้': 'activity_people_with_patient_name.activity',
                    'กิจกรรมก่อนเกิดเหตุ': 'activity_before_event_name',
                    'ผู้ดูแลก่อนเกิดเหตุ': 'caregiver_name',
                    'ระยะทางโดยประมาณระหว่างบ้านถึงที่เกิดเหตุ': 'distance',
                    'การใช้อุปกรณ์ช่วยลอยน้ำขณะเกิดเหตุ': 'has_floating_device_name',
                    'การสวมเสื้อชูชีพ/เสื้อพยุงตัว ขณะเกิดเหตุ': 'has_life_jacket',
                    'ปัจจัยเสี่ยง/พฤติกรรมเสี่ยงต่อการเกิดเหตุ': 'risk_factors_name',
                    'คนจมน้ำได้รับการช่วยเหลือขึ้นมาจากน้ำโดยใคร': 'rescuer_name',
                    'ผู้ช่วยเหลือช่วยขึ้นมาจากน้ำด้วยวิธีใด': 'type_help_name',
                    'ระยะเวลาตั้งแต่มีคนจมน้ำจนกระทั่งมีผู้มาช่วยเหลือใช้ระยะเวลา (นาที)': 'time',
                    'หลังจากช่วยเหลือขึ้นมาจาก้ำ ได้รับการปฐมพยาบาลอย่างไร': 'type_people_first_aid_name',
                    'วิธีปฐมพยาบาล': 'type_first_aid',
                    'การนำส่งสถานบริการสาธารณสุขหลังจากได้รับการปฐมพยาบาล': 'has_deliver',
                },
                json_fields_event:{
                    'ID เหตุการณ์': 'id',
                    'ผู้รายงาน': 'name',
                    'ตำแหน่ง': 'role',
                    'หน่วยงาน': 'department.name',
                    'จังหวัด': 'province_department.name',
                    'เบอร์โทรศัพท์': 'phone_number_department',
                    'โทรสาร': 'fax_number_department',
                    'วันที่รายงาน': 'date_report',
                    'สถานที่เกิดเหตุ': 'location',
                    'หมู่': 'village_no',
                    'ตำบล': 'location_sub_district.district',
                    'อำเภอ': 'location_sub_district.amphoe',
                    'จังหวัดที่เกิดเหตุ': 'location_province.name',
                    'วันที่เกิดเหตุ': 'date',
                    'เวลาที่เกิดเหตุ': 'time_of_event' ,
                    'จำนวนคนที่เกิดเหตุในเหตุการณ์เดียวกัน': 'total_patient',
                    'จำนวนผู้เสียชีวิต': 'death_patient',
                    'จำนวนผู้บาดเจ็บ': 'injury_patient',
                    'จำนวนผู้ไม่บาดเจ็บ': 'no_injury_patient',
                    'สาเหตุของเหตุการณ์': 'cause_of_event',
                    'กิจกรรมทีท่าขณะเกิดเหตุ': 'activity_during_event',
                    'การดำเนินการหลังเกิดเหตุ': 'proceed_after_event',
                    'ประเภทของแหล่งน้ำ': 'type_water_id',
                    'ระดับความลึก (เมตร)': 'depth_level_metre',
                    'ระดับความลึก (เซนติเมตร)': 'depth_level_centimeter',
                    'การจัดการแหล่งน้ำเสี่ยง ก่อนเกิดเหตุ': 'has_management_risk_before_name',
                    'การจัดการแหล่งน้ำเสี่ยง หลังเกิดเหตุ': 'has_management_risk_after_name',
                },
                json_meta: [
                    [
                        {
                            'key': 'charset',
                            'value': 'utf-8'
                        }
                    ]
                ],

            }
        },
        methods:{
            async fetchDataEvent(){

                var url = domain+"/event?page="+this.sort.page+
                "&field="+this.sort.field+
                "&sorttype="+this.sort.sortype+
                "&area_id="+this.sort.area_id+
                "&user_type_id="+this.sort.user_type_id+
                "&province_id="+this.sort.province_id+ "&excel=1"

                const response = await axios.get(url);
                console.log(response.datax);
                return response.data;
            },
            async fetchDataPatient(){

                var url = domain+"/patient?page="+this.sort.page+
                    "&field="+this.sort.field+
                    "&sorttype="+this.sort.sortype+
                    "&area_id="+this.sort.area_id+
                    "&user_type_id="+this.sort.user_type_id+
                    "&province_id="+this.sort.province_id+ "&excel=1"

                const response = await axios.get(url);
                console.log(response.datax);
                return response.data;
            },
            sortDataEven(field){
                var sorttype = this.sort.sortType;
                if(sorttype === ""){
                    sorttype = "asc"
                }else if (sorttype === "asc"){
                    sorttype = "desc"
                }else if (sorttype === "desc"){
                    sorttype = "asc"
                }

                this.sort.field = field;
                this.sort.sortType = sorttype;

                this.getEvent()
            },
            sortDataPatient(field){
                var sorttype = this.sort.sortType;
                if(sorttype === ""){
                    sorttype = "asc"
                }else if (sorttype === "asc"){
                    sorttype = "desc"
                }else if (sorttype === "desc"){
                    sorttype = "asc"
                }

                this.sort.field = field;
                this.sort.sortType = sorttype;

                this.getPatient();
            },
            getCurrentDate(){
                this.currentDate = moment().format("YYYY-MM-DD");
            },
            goToEventForm(id){
                this.showEventForm(id);
                this.loadScrean();
               this.openEvenForm(id);
            },
            loadScrean(){
                let timerInterval
                this.$swal.fire({
                    title: 'กำลังประมวลผล โปรดรอ',
                    timer: 3000,
                    showCancelButton: false,
                    showConfirmButton: false
                })
            },
            openEvenForm(id,call = 0){
                console.log(call)
                if (this.event_form.id == id){
                    this.$router.push({
                        name:"EventForm",
                        params : {id}
                    });
                }else{
                    if(call < 10){
                        call = call + 1;
                        var self = this
                        setTimeout(function(){
                            self.openEvenForm(id,call)
                        }, 1000);
                    }
                }
            },
            goToPatientForm(event_id,order){
                this.showPatientForm(event_id,order);
                this.$router.push({
                    name:"DrowningForm"
                });
            },
            showEventForm(id){
                this.$store.dispatch("Event/showEvent",id);
            },
            showPatientForm(event_id,order){
                this.$store.dispatch("Patient/showPatient", {
                    event_id : event_id,
                    order : order

                })
            },
            searchEvent(){
                if(this.search.start_date && this.search.end_date == ""){
                    alert('กรุณาเลือกวันที่เกิดเหตุการณ์ (สิ้นสุด)')
                }
                else if(this.search.start_date == "" && this.search.end_date){
                    alert('กรุณาเลือกวันที่เกิดเหตุการณ์ (เริ่มต้น)')
                }
                else{
                    this.event_submit = true;
                    //change date format
                    if(this.search.start_date && this.search.end_date){
                        this.search.start_date = moment(this.search.start_date).format("YYYY-MM-DD");
                        this.search.end_date = moment(this.search.end_date).format("YYYY-MM-DD");
                    }
                    else{
                        this.search.start_date ="";
                        this.search.end_date ="";
                    }

                    let data = {
                        province_id: "",
                        start_date: this.search.start_date,
                        end_date: this.search.end_date,
                        name: this.search.name,
                    };

                    if(this.search.province){
                        data.province_id = this.search.province.id;
                    }
                    this.$store.dispatch("Event/search",data)
                }

            },
            searchPatient(){
                this.event_submit = true;

                let data = {
                    event_id: "",
                    province_id: "",
                    name: this.search_patient.name,
                    gender:  this.search_patient.gender,
                };

                if(this.search_patient.province){
                    data.province_id = this.search_patient.province.id;
                }
                if(this.search_patient.event_id){
                    data.event_id = this.search_patient.event_id.id;
                }
                this.$store.dispatch("Patient/search",data)
            },

            getEvent(){
                const page = this.dataPaginate.current_page;
                if(this.search.date){
                    this.search.date = moment(this.search.date).format("YYYY-MM-DD");
                }
                else{
                    this.search.date = "";
                }
                let data = {
                    page : page,
                    province_id: "",
                    date: this.search.date,
                    name: this.search.name,
                };

                if(this.search.province){
                    data.province_id = this.search.province.id;
                }

                //paginate search
                if(this.event_submit){
                    this.$store.dispatch('Event/search',data)
                }
                //paginate get data
                else{
                    let data = {
                        page : page,
                        field: this.sort.field,
                        sortType: this.sort.sortType,
                        area_id : this.user_login.user.area_id,
                        province_id:this.user_login.user.province_id,
                        user_type_id:this.user_login.user.user_type_id,
                        hospital_code:this.user_login.user.hospital_code,
                    };

                    this.$store.dispatch("Event/setEvent",data);
                }
            },
            printEventPDF(id){
                window.open(domain+'/event_pdf/'+id ,'_blank')
            },
            printPatientPDF(id){
                window.open(domain+'/patient_pdf/'+id ,'_blank')
            },
            getPatient(){
                const page = this.dataPaginatePatient.current_page;

                if(this.search.date){
                    this.search.date = moment(this.search.date).format("YYYY-MM-DD");
                }
                else{
                    this.search.date = "";
                }

                let data = {
                    page : page,
                    province_id: "",
                    date: this.search.date,
                    name: this.search.name,
                };

                if(this.search.province){
                    data.province_id = this.search.province.id;
                }

                //paginate search
                if(this.event_submit){
                    this.$store.dispatch('Patient/search',data)
                }
                //paginate get data
                else{
                    let data = {
                        page : page,
                        field: this.sort.field,
                        sortType: this.sort.sortType,
                        area_id : this.user_login.user.area_id,
                        province_id:this.user_login.user.province_id,
                        user_type_id:this.user_login.user.user_type_id
                    };

                    this.$store.dispatch("Patient/setPatient",data);
                }
            },
        }
    }
</script>

<style scoped>

    hr{
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
    .select{
        border: 0px
    }
    .multiselect__input input {
        font-size: 18px !important;
    }

    .multiselect,
    .multiselect__single input {
        font-size: 18px !important;
    }

    .content {
        text-align: center;
    }
    .detail-content{
        border: 3px solid #006738;
        border-radius: 15px;
        padding: 10px;
        font-size: 35px;
        color: #006738;
        text-align: center;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #006738;
        background-color: #006738;
    }

    .custom-control-label::before {
        background-color: #FCFCFC;
        border: #006738 solid 2px;
    }

    table tr th{
        border-top: 3px solid #006738;
        border-bottom: 3px solid #006738;
    }

    .font-size{
        font-size: 22px;
        line-height: 22px;
    }

    input[type="text"]
    {
        text-overflow: ellipsis;
        font-size:20px ;
        font-weight: 700;
    }

    select{
        font-size:20px ;
        font-weight: 700;
    }

    button[type="button"]
    {
        border-color: #006738;
        background-color: #006738;
        font-weight: 700;
        font-size:20px;
    }

     .mx-datepicker {
         font-family: 'Circular',sans-serif !important;
         color: #495057 !important;
    }

    .img-detail {
        height: 100px;
    }

    .nav-item.active .nav-link {
        color: white;
        background-color: #006738;
        border-color: #006738;
    }

    .nav-item .nav-link {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        border-left: 2px solid rgba(0, 0, 0, 0.1);
    }
    .nav-tabs {
        border-bottom: 2px solid #dee2e6;
    }

    a {
        color: #006738;
        text-decoration: none;
        background-color: transparent;
    }

    @media only screen and (max-width: 991px) {
        .img-detail {
            height: 70px;
        }
        .detail-content{

            padding: 10px;
            font-size: 25px;
        }
    }
    @media only screen and (max-width: 767px) {
        .img-detail {
            height: 100px;
        }
        .detail-content{

            padding: 10px;
            font-size: 32px;
        }
    }

    @media only screen and (max-width: 500px) {
        .img-detail {
            height: 55px;
        }
        .detail-content{

            padding: 10px;
            font-size: 20px;
        }
    }



</style>
