<template>
    <div>
    <div class="form-frame">
        <b-row>
            <b-col align="right">หน้า 1/3</b-col>
        </b-row>
        <!--        No -->
        <b-row class="row">
            <b-row>
                <b-col md="4"  align="left" style="padding-left: 30px">เลขที่ชันสูตร</b-col>
                <b-col><input class="custom-input" type="text"></b-col>
            </b-row>
        </b-row>
        <!--        0.0 -->
        <b-row class="row" style="font-weight: normal">
            <b-col cols="12" lg="3" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="4" style="padding-right: 0">รับแจ้ง</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="3" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="4" style="padding-right: 0">เริ่มเดินทาง</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="3" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="4" style="padding-right: 0">ถึงเวลา</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="3" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="4" style="padding-right: 0">กลับเวลา</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        0.1 -->
        <b-row class="row">
            <b-col cols="12" lg="6" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="5" style="padding-right: 0">ชื่อพนักงานสอบสวนผู้แจ้ง</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="6" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="3" style="padding-right: 0">สถานีตำรวจ</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        0.2 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="2" style="padding-right: 0">เหตุที่แจ้งเบื้องต้น</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        1 -->
        <b-row class="row">
            <b-col cols="12" lg="6" md="6" sm="12">
                <b-row align="left">
                    <b-col lg="4" style="padding-right: 0;">(1) ชื่อ-นามสกุลผูเ้สียชีวิต</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="3" md="3" sm="12">
                <b-row align="left">
                    <b-col lg="3" md="12" sm="12" style="padding-right: 0">อายุ</b-col>
                    <div style="padding: 0;width: 40%;"><input class="custom-input" type="number"></div>
                    <div style="padding: 0 15px;width: 30px">ปี</div>
                </b-row>
            </b-col>
            <b-col cols="12" lg="3" md="3" sm="12">
                <b-row align="left">
                    <b-col lg="3" style="padding-right: 0">เพศ</b-col>
                    <b-col style="padding: 0 0 0 15px">
                        <b-form-checkbox-group id="checkbox-group" name="sex">
                            <b-form-checkbox value="male">ชาย</b-form-checkbox>
                            <b-form-checkbox value="female">หญิง</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        2 -->
        <b-row class="row">
            <b-col cols="12" lg="8" md="8" sm="12">
                <b-row align="left">
                    <b-col lg="3" style="padding-right: 0">(2) เลขประจำตัวประชาชน</b-col>
                    <b-col style="padding-left: 0"><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        3 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-col align="left" lg="12" style="padding-top: 0.5rem;padding-bottom: 0.5rem">(3) ที่อยู่ผู้ตาย</b-col>
                <b-row align="left" style="font-weight: normal">
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">บ้านเลขที่</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem"><input class="custom-input"
                                                                                                type="text"></b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">หมู่</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem"><input class="custom-input"
                                                                                                type="text"></b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ตรอก/ซอย</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem"><input class="custom-input"
                                                                                                type="text"></b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ถนน</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem"><input class="custom-input"
                                                                                                type="text"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left" style="font-weight: normal;" >
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">จังหวัด</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกจังหวัด"
                                     track-by="name"
                        />
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">อำเภอ</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกจอำเภอ"
                                     track-by="name"
                        />
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ตำบล</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกตำบล"
                                     track-by="name"
                        />
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

        <!--        4 -->
        <b-row style="padding: 0">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-col align="left" lg="12" style="padding: 0.5rem 2rem">(4) สถานที่พบศพ</b-col>


                <!--        Map -->
                <div id="google-form" class="form-div">
                    <!-- สร้าแผนที่และกำหนดคุณสมบัติ -->
                    <!--            :placeholder="form.location"-->
                    <div class="row">
                        <label class="col-sm-12 col-lg-2 col-md-3 col-form-label">ค้นหาสถานที่</label>
                        <div class="col-sm-12 col-lg-9 col-md-8">
                            <gmap-autocomplete
                                    class="custom-input"
                                    @place_changed="setPlace"
                                    id="searchLocation">
                            </gmap-autocomplete>
                        </div>
                    </div>
                    <gmap-map :center="startLocation" :zoom="15" style="width: 100%; height: 420px;border: 3px solid #2DA1A9; width: 100%; height: 40vh; padding: 1rem 0; margin: 1rem 0;" @click="setPlaceNEW">
                        <!-- สร้าง marker ตามค่า coordinates ที่เราเซตไว้ แล้ว loop ออกมาแสดงผล -->
                        <gmap-marker
                                v-for="(item, key) in markers"
                                :key="key" :position="getPosition(item)"
                                :clickable="true"
                                @click="toggleInfo()"></gmap-marker>

                        <!--                    &lt;!&ndash; สร้าง info-window ของ Marker แต่ละอัน &ndash;&gt;-->
                        <!--                    <gmap-info-window   :opened="infoOpened"  @closeclick="infoOpened=false" :position="startLocation">-->
                        <!--                        &lt;!&ndash; แสดงข้อมูลของ marker &ndash;&gt;-->
                        <!--                        <div style="text-align: center;">-->
                        <!--                            <b>{{form.location}}</b>-->
                        <!--                        </div>-->
                        <!--                    </gmap-info-window>-->
                    </gmap-map>
                    <br>
                </div>


                <b-row class="row" align="left" style="font-weight: normal;padding: 0 2rem">
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">หมู่</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <input class="custom-input" type="text">
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">จังหวัด</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกจังหวัด"
                                     track-by="name"
                        />
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">อำเภอ</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกจอำเภอ"
                                     track-by="name"
                        />
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ตำบล</b-col>
                    <b-col lg="2" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกตำบล"
                                     track-by="name"
                        />
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
<!--        <b-row class="row" >-->
<!--            <b-col cols="12" lg="12" md="12" sm="12">-->
                <b-row align="left" style="font-weight: normal;padding: 0 2rem">
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ละติจูด</b-col>
                    <b-col lg="5" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <input class="custom-input" type="text">
                    </b-col>
                    <b-col lg="1" md="2" style="padding-right: 0; padding-bottom: 0.5rem">ลองติจูด</b-col>
                    <b-col lg="5" md="4" style="padding-left: 0; padding-bottom: 0.5rem">
                        <input class="custom-input" type="text">
                    </b-col>
                </b-row>
<!--            </b-col>-->
<!--        </b-row>-->
        <!--        5 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(5) ลักษณะของสถานที่ที่พบศพนั้นอยู่</b-col>
                    <b-col class="mt-3">
                        <b-form-textarea class="custom-input"
                                         id="textarea"
                                         rows="3"
                                         max-rows="6"
                        ></b-form-textarea>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        6 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(6) ประวัติโดยสังเขป</b-col>
                    <b-col class="mt-3">
                        <b-form-textarea class="custom-input"
                                         id="textarea"
                                         rows="3"
                                         max-rows="6"
                        ></b-form-textarea>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        7 -->
        <b-row class="row">
            <b-col cols="12" lg="4" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(7) วันเวลาที่มีผู้พบศพ</b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="4" md="6" sm="12" style="font-weight: normal">
                <b-row align="left">
                    <b-col lg="3" md="12" sm="12" style="padding-right: 0">วันที่</b-col>
                    <b-col lg="7" md="12" sm="12" style="padding-right: 0">
                        <b-form-datepicker class="datepick"
                                           placeholder="วันที่"
                                           id="datepicker-dateformat1"
                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                           locale="en"
                        ></b-form-datepicker>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="4" md="6" sm="12" style="font-weight: normal">
                <b-row align="left">
                    <b-col lg="3" style="padding-right: 0">เวลา</b-col>
                    <b-col lg="7" md="12" sm="12" style="padding-right: 0"><input class="custom-input" type="number">
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row align="left">
            <b-col lg="2" md="12" sm="12" style="padding-right: 0;padding-left: 2em">ชื่อผู้แจ้งพบศพ (ถ้าทราบ)</b-col>
            <b-col lg="4" md="12" sm="12"><input class="custom-input" type="number"></b-col>
        </b-row>
        <!--        8 -->
        <b-row class="row">
            <b-col cols="12" lg="4" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(8) วันเวลาที่มีผู้พบว่ามีชีวิตอยู่เป็นครั้งสุดท้าย</b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="4" md="6" sm="12" style="font-weight: normal">
                <b-row align="left">
                    <b-col lg="3" md="12" sm="12" style="padding-right: 0">วันที่</b-col>
                    <b-col lg="7" md="12" sm="12" style="padding-right: 0">
                        <b-form-datepicker class="datepick"
                                           placeholder="วันที่"
                                           id="datepicker-dateformat1"
                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                           locale="en"
                        ></b-form-datepicker>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="4" md="6" sm="12" style="font-weight: normal">
                <b-row align="left">
                    <b-col lg="3" style="padding-right: 0">เวลา</b-col>
                    <b-col lg="7" md="12" sm="12" style="padding-right: 0"><input class="custom-input" type="number">
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        9 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(9) ประวัติการรักษา/โรคประจำตัว (ถ้ามี)</b-col>
                    <b-col class="mt-3">
                        <b-form-textarea class="custom-input"
                                         id="textarea"
                                         rows="3"
                                         max-rows="6"
                        ></b-form-textarea>
                    </b-col>
                </b-row>
                <b-row style="padding-left: 2rem" align="left">
                    <b-form-checkbox-group id="checkbox-group" name="sex">
                        <b-form-checkbox value="male">สาเหตุการตาย จากการบาดเจ็บ 19 สาเหตุ</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-row>
                <b-row style="padding-left:2.5rem; font-weight: normal" align="left">
                    <b-col lg="3" md="4" style="padding-bottom: 0.5rem">เลือกสาเหตุการตาย</b-col>
                    <b-col lg="6" md="6" style="padding-left: 0; padding-bottom: 0.5rem">
                        <multiselect class="multiselect-style2"
                                     :options="[]"
                                     label="name"
                                     select-label=""
                                     selectedLabel=""
                                     deselect-label=""
                                     placeholder="เลือกตำบล"
                                     track-by="name"
                        />
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <!--        10 -->
        <b-row class="row">
            <b-col cols="12" lg="12" md="12" sm="12">
                <b-row align="left">
                    <b-col lg="12" style="padding-right: 0">(10) สภาพหรือชิ้นส่วนของศพที่ปรากฏ</b-col>
                </b-row>
                <b-row align="left" style="padding-left: 15px">
                    <b-col lg="2" style="padding-right: 0"><i class="fas fa-circle"></i> รูปร่าง</b-col>
                    <b-col style="padding: 0 0 0 15px;font-weight: normal">
                        <b-form-checkbox-group id="checkbox-group" name="sex">
                            <b-row>
                                <b-col cols="12" sm="12" lg="7" md="8">
                                    <b-form-checkbox value="male">อ้วนมาก</b-form-checkbox>
                                    <b-form-checkbox value="female">อ้วน</b-form-checkbox>
                                    <b-form-checkbox value="female">สมส่วน</b-form-checkbox>
                                    <b-form-checkbox value="female">ผอม</b-form-checkbox>
                                    <b-form-checkbox value="female">ผอมซูบ</b-form-checkbox>
                                </b-col>
                                <b-col style="padding-left: 0">
                                    <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                        <div class="d-inline mr-2">// ส่วนสูง</div>
                                        <input class="d-inline custom-input" style="width: 30%" type="number">
                                        <div class="d-inline ml-2">ซม.</div>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-form-checkbox-group>
                    </b-col>
                </b-row>
                <b-row align="left" style="padding-left: 15px">
                    <b-col lg="2" style="padding-right: 0"><i class="fas fa-circle"></i> ผิวสี</b-col>
                    <b-col style="padding: 0 0 0 15px;font-weight: normal">
                        <b-form-checkbox-group id="checkbox-group" name="sex">
                            <b-row>
                                <b-col cols="12" sm="12" lg="6" md="7">
                                    <b-form-checkbox value="male">ขาว</b-form-checkbox>
                                    <b-form-checkbox value="female">ขาวเหลือง</b-form-checkbox>
                                    <b-form-checkbox value="female">ดำแดง</b-form-checkbox>
                                    <b-form-checkbox value="female">ดำ</b-form-checkbox>
                                </b-col>
                                <b-col cols="12" sm="12" lg="6" md="5" style="padding-left: 0">
                                    <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                        <b-form-checkbox class="mr-2" value="female">อื่นๆ</b-form-checkbox>
                                        <input class="d-inline custom-input" style="width: 40%" type="number">
                                    </div>
                                </b-col>
                            </b-row>
                        </b-form-checkbox-group>
                    </b-col>
                </b-row>
                <b-row align="left" style="padding-left: 15px">
                    <b-col lg="2" style="padding-right: 0"><i class="fas fa-circle"></i> เส้นผม</b-col>
                    <b-col style="padding: 0 0 0 15px;font-weight: normal">
                        <b-form-checkbox-group id="checkbox-group" name="sex">
                            <b-row>
                                <b-col cols="12" sm="12" lg="3" md="3">
                                    <b-form-checkbox value="male">สั้น</b-form-checkbox>
                                    <b-form-checkbox value="female">ยาว</b-form-checkbox>
                                </b-col>
                                <b-col style="padding-left: 0">
                                    <div class="d-inline col-sm-12">
                                        <div class="d-inline mr-2">สี</div>
                                        <input class="d-inline custom-input" style="width: 50%" type="number">
                                    </div>
                                </b-col>
                            </b-row>
                        </b-form-checkbox-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </div>
        <b-row style="padding: 0.5rem 0;">
            <b-col lg="4" md="4" sm="4"></b-col>
            <b-col lg="4" md="4" sm="4">
                <div class="mt-lg-4 mt-sm-2 mt-md-2" align="center">
                    <i class="fas fa-circle fa-xs ml-2 mr-2" style="color: #2DA1A9;"></i>
                    <i class="fas fa-circle fa-xs ml-1 mr-1" style="color: #E7E7E7"></i>
                    <i class="fas fa-circle fa-xs ml-2 mr-2" style="color: #E7E7E7"></i>
                </div>
            </b-col>
            <b-col lg="4" md="4" sm="4">
                <div class="mt-lg-4 mt-sm-2 mt-md-2" align="right">
                    <b-button class="autopsy-button" @click="goToNextPage()">หน้าถัดไป</b-button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "form1",
        created() {
            this.$swal.close();
            // this.$store.dispatch("Common/setProvince");
            // this.$store.dispatch("Common/setTypeWater");
            // this.$store.dispatch("Common/setDepartments");
            this.getCurrentDate();
            // if (this.form.id) {
                this.markers.push({position: this.startLocation});
            // }
        },
        data(){
            return {
                markers: [],
                places: [],
                show: true,
                currentPlace: [],
            }
        },
        computed: {
            ...mapState({
                startLocation: state => {
                    return state.Event.startLocation;
                }
            })
        },
        methods :   {
            goToNextPage() {
                const path = `/question-form/2`
                if (this.$route.path !== path) this.$router.push(path)
            },
            //set ตำแหน่งของ marker
            getPosition(marker) {
                return {
                    lat: parseFloat(marker.position.lat),
                    lng: parseFloat(marker.position.lng)
                }
            },
            //****** */
            toggleInfo() {
                this.infoOpened = true;
            },
            setLocation(marker) {
                this.markers.pop();
                this.markers.push({position: marker});
                this.form.lat = marker.lat;
                this.form.lng = marker.lng;
                this.startLocation.lat = marker.lat;
                this.startLocation.lng = marker.lng;
                this.center = marker;
                // if(this.form.location_province){
                //     this.form.location_province= null;
                //     this.form.location_district= null;
                //     this.form.location_sub_district= null;
                // }

            }
        ,
            setPlace(place) {
                //"1839 Phahonyothin Rd, Khwaeng Lat Yao, Khet Chatuchak, Krung Thep Maha Nakhon 10900, Thailand"
                this.currentPlace = place;
                if (this.currentPlace) {

                    this.form.location = place.name;
                    // this.form.location_province = place.address_components[3].long_name;
                    // this.form.location_district = place.address_components[2].long_name;
                    // this.form.location_sub_district = place.address_components[1].long_name;

                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.setLocation(marker);
                    this.places.push(this.currentPlace.name);

                } else if (this.form.name) {
                    this.places.push(this.form.name);
                }
            },
            setPlaceNEW(place) {
                // console.log(place);
                let latLngtxt = place.latLng.toString()
                var setlatLng = latLngtxt.split(/[\s,()]+/)
                const marker = {
                    lat: Number(setlatLng[1]),
                    lng: Number(setlatLng[2])
                };
                console.log(marker);

                this.setLocation(marker)

                var geocoder = new google.maps.Geocoder();
                var self = this;
                geocoder.geocode({'location': place.latLng, 'language': 'th' }, function(results, status){
                    if (status === 'OK') {
                        console.log(results);
                        results.forEach(self.getAddress);
                    }
                })
                //
                // let newCurrentPlace = place.latLng.toString()
                // let latLng = newCurrentPlace.split(/[\s,()]+/)
                // this.currentPosition = { lat: Number(latLng[1]), lng: Number(latLng[2]) }
                // console.log(place);
            },
            getAddress(item, index) {

                var type = item.types[0];
                var address = item.address_components;

                if ((type == 'locality' && address[0].long_name != 'กรุงเทพมหานคร' )
                    || (type == 'political' && address[2].long_name == 'กรุงเทพมหานคร')) {
                    console.log("inside",type,address[0].long_name);
                    var my_province = item.address_components[2].long_name;
                    var my_district = item.address_components[1].long_name;
                    my_district = my_district.replace("อำเภอ", "").replace("เขต", "").trim();
                    var my_subdistrict = item.address_components[0].long_name;
                    console.log(my_subdistrict)
                    my_subdistrict = my_subdistrict.replace("ตำบล", "").replace("แขวง", "").trim();
                    console.log(my_province);
                    console.log(my_district);
                    console.log(my_subdistrict);
                    this.setSelectLocation(my_province,my_district,my_subdistrict)
                    for (var i = 1 ;  i <= 3 ; i++){
                        setTimeout( this.setSelectLocation, 300 * i,my_province,my_district,my_subdistrict);
                    }
                }
            },
            setSelectLocation(province,district, subdistrict){
                console.log(Date.now(),province,district,subdistrict)
                var self = this;
                this.optionProvince.forEach( async function (data, index) {
                    if(data.name.trim().includes(province)){

                        if(!this.form.location_province || !self.form.location_province.name.trim().includes(province)){
                            self.form.location_district = null
                            self.getDistricts(data)
                        }
                        self.form.location_province = data;

                        var self_2 = self;
                        self.optionDistrict.forEach( async function (data, index) {
                            if( data.name.trim().includes(district) ){


                                if( self_2.form.location_district != null ){
                                    self_2.getSubDistricts(data)
                                }
                                self_2.form.location_district = data;

                                var self_3 = self_2;
                                self_2.optionSubDistrict.forEach( async function (data, index) {
                                    if( data.district.trim().includes(subdistrict) ){
                                        self_3.form.location_sub_district = data;
                                    }
                                })
                            }
                        })
                    }
                })
            },
        }
    }
</script>

<style scoped>

    .form-frame {
        background: #F7F7F7;
        border-radius: 30px;
        font-size: 16px;
        color: #2DA1A9;
        font-weight: bold;
        padding: 1rem 0 2rem 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .custom-input {
        height: calc(1.5em + 0.75rem + 2px);
        background: white;
        /*text-align: center;*/
        font-size: 14px;
        border-radius: 30px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        width: 100%;
        padding: 0 2em;
    }

    .custom-input::placeholder{
        color: #2DA1A9;
    }

    .row {
        padding: 0.5rem 1rem 0 1rem;
    }
</style>
