<template>
    <div>
        <div class="form-frame">
            <b-row>
                <b-col align="right">หน้า 2/3</b-col>
            </b-row>
            <!--        No -->
            <b-row class="row">
                <b-row>
                    <b-col md="4" align="left" style="padding-left: 30px">เลขที่ชันสูตร</b-col>
                    <b-col><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-row>
            <!--        10 cont. -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left" style="padding: 15px">
                        <b-col lg="12" style="padding-right: 0"><i class="fas fa-circle"></i> เสื้อผ้าเครื่องแต่งกาย
                        </b-col>
                        <b-col lg=12 class="mt-3">
                            <b-form-textarea class="custom-input"
                                             id="textarea"
                                             rows="3"
                                             max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row align="left" style="padding: 15px">
                        <b-col lg="12" style="padding-right: 0"><i class="fas fa-circle"></i> เครื่องประดับ</b-col>
                        <b-col lg=12 class="mt-3">
                            <b-form-textarea class="custom-input"
                                             id="textarea"
                                             rows="3"
                                             max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row align="left" style="padding: 15px">
                        <b-col lg="12" style="padding-right: 0"><i class="fas fa-circle"></i> รอยสัก/ตำหนิ/แผลเป็น
                        </b-col>
                        <b-col lg=12 class="mt-3">
                            <b-form-textarea class="custom-input"
                                             id="textarea"
                                             rows="3"
                                             max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <!--        11 -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left">
                        <b-col lg="12" style="padding-right: 0">(11) การเปลี่ยนแปลงภายหลังการตาย</b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left">
                        <b-col lg="4" sm="12" md="5" style="padding-right: 0">(11.1) การกระตุ้นกล้ามเนื้อลาย (Supravital
                            Reaction)
                        </b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-col cols="12" sm="12">
                                    <b-form-checkbox value="male">บวก</b-form-checkbox>
                                    <b-form-checkbox value="female">ลบ</b-form-checkbox>
                                </b-col>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left">
                        <b-col lg="4" sm="12" md="5" style="padding-right: 0">(11.2) อุณหภูมิของศพโดยการสัมผัส</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-col cols="12" sm="12">
                                    <b-form-checkbox value="male">อุ่น</b-form-checkbox>
                                    <b-form-checkbox value="female">เย็น</b-form-checkbox>
                                </b-col>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left">
                        <b-col lg="12" sm="12" md="12" style="padding-right: 0">(11.3) การแข็งตัวของศพ (Rigor Mortis)
                        </b-col>
                        <b-col style="font-weight: normal">
                            <div style="padding-top: 1rem">
                                <b-table class="form-table" responsive="sm md" bordered hover :items="items"
                                         :fields="fields">
                                    <template v-slot:cell(unset)="data">
                                        <b-form-checkbox value="male"></b-form-checkbox>
                                    </template>
                                    <template v-slot:cell(incomplete)="data">
                                        <b-form-checkbox value="male"></b-form-checkbox>
                                    </template>
                                    <template v-slot:cell(complete)="data">
                                        <b-form-checkbox value="male"></b-form-checkbox>
                                    </template>
                                </b-table>
                            </div>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left">
                        <b-col lg="12" sm="12" md="12" style="padding-right: 0">(11.4)
                            การตกของเลือดสูเ่บื้องต่ำภายหลังตาย (Livor Mortis)
                        </b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 15px 30px 0 15px">
                                    <b-col cols="12" sm="12" lg="4" md="12">
                                        <b-form-checkbox value="male">ยังไม่ปรากฏ</b-form-checkbox>
                                        <b-form-checkbox value="female">ปรากฏเป็นจ้ำ</b-form-checkbox>
                                        <b-form-checkbox value="female">ปรากฏเป็นปื้น</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="6" style="padding-left: 0; padding-right: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">ตำแหน่งที่พบ</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 40%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                    <b-row align="left" style="padding: 0 15px;">
                        <b-col lg="3" sm="12" md="12" style="padding-right: 0">ลักษณะจางของสีเมื่อกด</b-col>
                        <b-col style="padding: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 0">
                                    <b-col cols="12" sm="12" lg="6" md="12">
                                        <b-form-checkbox value="male">จาง</b-form-checkbox>
                                        <b-form-checkbox value="female">จางเล็กน้อย</b-form-checkbox>
                                        <b-form-checkbox value="female">ไม่จาง</b-form-checkbox>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                    <b-row align="left" style="padding: 0 15px;">
                        <b-col lg="2" sm="12" md="12" style="padding-right: 0">สีที่ปรากฏ</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row>
                                    <b-col cols="12" sm="12" lg="12" md="6">
                                        <b-form-checkbox value="male">ม่วงแดง</b-form-checkbox>
                                        <b-form-checkbox value="female">ชมพูสด</b-form-checkbox>
                                        <b-form-checkbox value="female">เขียวคล้ำ</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="5" style="padding-left: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">อื่นๆ</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 50%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left" style="padding: 0">
                        <b-col lg="2" sm="12" md="2" style="padding-right: 0">(11.5) ศพเน่า</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 0 15px">
                                    <b-col cols="12" sm="12" lg="12" md="12">
                                        <b-form-checkbox value="male">ไม่เน่า</b-form-checkbox>
                                        <b-form-checkbox value="female">เน่า</b-form-checkbox>
                                        <b-form-checkbox value="female">หน้าท้องเริ่มเขียว</b-form-checkbox>
                                        <b-form-checkbox value="female">Marbling</b-form-checkbox>
                                        <b-form-checkbox value="female">ผิวหนังหลุดลอก</b-form-checkbox>
                                        <b-form-checkbox value="female">ร่างกายพองโต</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="5" style="padding-left: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">อื่นๆ</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 50%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <!--        12 -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left">
                        <b-col lg="12" style="padding-right: 0">(12) การบาดเจ็บ และ/หรือพยาธิสภาพที่ตรวจพบ</b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left" style="padding: 0">
                        <b-col lg="2" sm="12" md="3" style="padding-right: 0">(12.1) เยื้อบุตา</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 0 15px">
                                    <b-col cols="12" sm="12" lg="4" md="12">
                                        <b-form-checkbox value="male">ซีด</b-form-checkbox>
                                        <b-form-checkbox value="female">คลั่งเลือด</b-form-checkbox>
                                        <b-form-checkbox value="female">มีจุดเลือดออก</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="6" style="padding-left: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">อื่นๆ</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 50%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left" style="padding: 0.5rem 0">
                        <b-col lg="3" sm="12" md="4" style="padding-right: 0">(12.2) พยาธิสภาพอื่นๆ</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 0 15px">
                                    <b-col cols="12" sm="12" lg="3" md="3">
                                        <b-form-checkbox value="male">ไม่พบ</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="6" style="padding-left: 0; padding-right: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">พบ (ระบุ)</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 40%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg=12 style="padding: 0 30px">
                    <b-row align="left" style="padding: 0">
                        <b-col lg="3" sm="12" md="4" style="padding-right: 0">(12.3) บาดแผลที่ตรวจ</b-col>
                        <b-col style="padding-left: 0;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row style="padding: 0 15px">
                                    <b-col cols="12" sm="12" lg="3" md="3">
                                        <b-form-checkbox value="male">ไม่พบ</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="6" style="padding-left: 0; padding-right: 0">
                                        <div class="d-inline col-sm-12 col-lg-6 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">พบ (ระบุในแผนภาพที่หน้า 3)
                                            </b-form-checkbox>
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <!--        13 -->
            <b-row class="row" align="left" style="padding-top: 1em">
                <b-col lg="4" style="padding-right: 0">(13) การเก็บวัตถุพยานจากการชันสูตรพลิกศพ</b-col>
                <b-col style="padding-left: 0;font-weight: normal">
                    <b-form-checkbox-group id="checkbox-group" name="sex">
                        <b-col cols="12" sm="12">
                            <b-form-checkbox value="male">ไม่เก็บ</b-form-checkbox>
                            <b-form-checkbox value="female">เก็บ (ระบุในตารางข้างล่าง)</b-form-checkbox>
                        </b-col>
                    </b-form-checkbox-group>
                </b-col>
            </b-row>
            <div style="padding: 1rem">
                <b-table class="form-table" responsive="sm md" bordered hover :items="items13" :fields="fields13">
                </b-table>
            </div>

            <!--        14 -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left">
                        <b-col lg="3" style="padding-right: 0">(14) ข้อสันนิษฐานการตายเบื้องต้น</b-col>
                        <b-col><input class="custom-input" type="text"></b-col>
                    </b-row>
                </b-col>
            </b-row>

            <!--        15 -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left">
                        <b-col lg="3" style="padding-right: 0">(15) ได้จัดการกับศพนั้นอย่างไร</b-col>
                        <b-col style="padding: 0 0 0 15px;font-weight: normal">
                            <b-form-checkbox-group id="checkbox-group" name="sex">
                                <b-row>
                                    <b-col cols="12" sm="12" lg="12" md="12">
                                        <b-form-checkbox value="male">มอบให้ญาติ</b-form-checkbox>
                                        <b-form-checkbox value="female">ส่งเข้า รพ. เพื่อตรวจเพิ่มเติม</b-form-checkbox>
                                        <b-form-checkbox value="female">ส่งผ่าศพที่ รพ.</b-form-checkbox>
                                    </b-col>
                                    <b-col cols="12" sm="12" lg="6" md="5" style="padding-left: 0">
                                        <div class="d-inline col-sm-12 col-lg-4 col-md-6">
                                            <b-form-checkbox class="mr-2" value="female">อื่นๆ</b-form-checkbox>
                                            <input class="d-inline custom-input" style="width: 60%" type="number">
                                        </div>
                                    </b-col>
                                </b-row>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <!--        note -->
            <b-row class="row">
                <b-col cols="12" lg="12" md="12" sm="12">
                    <b-row align="left">
                        <b-col lg="12" style="padding-right: 0">บันทึกอื่นๆ</b-col>
                        <b-col class="mt-3">
                            <b-form-textarea class="custom-input"
                                             id="textarea"
                                             rows="3"
                                             max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <div style="border-bottom: 1px solid #2DA1A9; padding: 0 2em 2em 2em"></div>

            <!--        sign1 -->
            <b-row class="row" style="padding-top: 2em">
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">(ลงชื่อ)</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                    <b-row align="left" style="padding: 0 0 0 15px;">
                        พนักงานสอบสวน
                    </b-row>
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">ตำแหน่ง</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                </b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">(ลงชื่อ)</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                    <b-row align="left" style="padding: 0 0 0 15px;">
                        แพทย์ผู้ชันสูตรพลิกศพ
                    </b-row>
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">ตำแหน่ง</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                </b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">(ลงชื่อ)</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                    <b-row align="left" style="padding: 0 0 0 15px;">
                        เจ้าหน้าที่ที่ได้รับมอบหมายแทน
                    </b-row>
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">ตำแหน่ง</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                </b-col>
            </b-row>

            <!--        sign2-->
            <b-row class="pl-3 d-inline"><i class="fas fa-circle fa-sm ml-1 mr-1 mt-2" style="color: #2DA1A9"></i>กรณีการตายโดยการกระทำ/ในระหว่างการควบคุมของเจ้าพนักงาน
            </b-row>
            <b-row class="row" style="padding-top: 1em" >
                <b-col cols="12" lg="2" md="2" sm="12"></b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">(ลงชื่อ)</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                    <b-row align="left" style="padding: 0 0 0 15px;">
                        พนักงานอัยการ
                    </b-row>
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">ตำแหน่ง</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                </b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">(ลงชื่อ)</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                    <b-row align="left" style="padding: 0 0 0 15px;">
                        พนักงานฝ่ายปกครอง
                    </b-row>
                    <b-row align="left">
                        <div class="d-inline col-sm-12 col-lg-12 col-md-12">
                            <div class="d-inline mr-2">ตำแหน่ง</div>
                            <input class="d-inline custom-input col-lg-8" type="number">
                        </div>
                    </b-row>
                </b-col>
            </b-row>

        </div>
        <b-row>
            <b-col lg="4" md="4" sm="4"></b-col>
            <b-col lg="4" md="4" sm="4">
                <div class="mt-lg-4 mt-sm-2 mt-md-2" align="center">
                    <i class="fas fa-circle fa-sm ml-2 mr-2" style="color: #E7E7E7;"></i>
                    <i class="fas fa-circle fa-sm ml-1 mr-1" style="color: #2DA1A9"></i>
                    <i class="fas fa-circle fa-sm ml-2 mr-2" style="color: #E7E7E7"></i>
                </div>
            </b-col>
            <b-col lg="4" md="4" sm="4">
                <div class="mt-lg-4 mt-sm-2 mt-md-2" align="right">
                    <b-button class="autopsy-button" @click="goToNextPage()">หน้าถัดไป</b-button>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "form2",
        created() {
            this.$swal.close();
            // this.$store.dispatch("Common/setProvince");
            // this.$store.dispatch("Common/setTypeWater");
            // this.$store.dispatch("Common/setDepartments");
            this.getCurrentDate();
            // if (this.form.id) {
            this.markers.push({position: this.startLocation});
            // }
        },
        data() {
            return {
                markers: [],
                places: [],
                show: true,
                currentPlace: [],
                fields: [
                    {
                        key: 'part',
                        label: 'ข้อ',
                    },
                    {
                        key: 'unset',
                        label: 'ไม่แข็งตัว',
                    },
                    {
                        key: 'incomplete',
                        label: 'แข็งตัวบางส่วน',
                    },
                    {
                        key: 'complete',
                        label: 'แข็งตัวเต็มที่',
                    },
                    {
                        key: 'remark',
                        label: 'หมายเหตุ',
                    }
                ],
                items: [
                    {part: 'กราม', unset: 'Dickerson', incomplete: 'Macdonald', remark: ''},
                    {part: 'คอ', unset: 'Larsen', incomplete: 'Shaw', remark: ''},
                    {part: 'ข้อนิ้ว', unset: 'Geneva', incomplete: 'Wilson', remark: ''},
                    {part: 'ข้อศอก', unset: 'Jami', incomplete: 'Carney', remark: ''},
                    {part: 'ข้อไหล่', unset: 'Jami', incomplete: 'Carney', remark: ''},
                    {part: 'ข้อสะโพก', unset: 'Jami', incomplete: 'Carney', remark: ''},
                    {part: 'ข้อเข่า', unset: 'Jami', incomplete: 'Carney', remark: ''},
                    {part: 'ข้อเท้า', unset: 'Jami', incomplete: 'Carney', remark: ''},
                    {part: 'อื่นๆ', unset: 'Jami', incomplete: 'Carney', remark: ''}
                ],
                fields13: [
                    {
                        key: 'no',
                        label: 'ลำดับที่',
                    },
                    {
                        key: 'evidence',
                        label: 'วัตถุพยาน',
                    },
                    {
                        key: 'type',
                        label: 'ชนิดวัตถุพยาน',
                    },
                    {
                        key: 'location',
                        label: 'เก็บจาก(ตำแหน่ง)',
                    },
                    {
                        key: 'amount',
                        label: 'จำนวน',
                    }
                ],
                items13: [
                    {no: 1, unset: 'Dickerson', incomplete: 'Macdonald', remark: ''},
                    {no: 2, unset: 'Larsen', incomplete: 'Shaw', remark: ''},
                    {no: 3, unset: 'Geneva', incomplete: 'Wilson', remark: ''},

                ]
            }
        },
        computed: {
            ...mapState({
                startLocation: state => {
                    return state.Event.startLocation;
                }
            })
        },
        methods: {
            goToNextPage() {
                const path = `/question-form/3`
                if (this.$route.path !== path) this.$router.push(path)
            },
        }
    }
</script>

<style scoped>

    .form-frame {
        background: #F7F7F7;
        border-radius: 30px;
        font-size: 16px;
        color: #2DA1A9;
        font-weight: bold;
        padding: 1rem 1rem 2rem 1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .custom-input {
        height: calc(1.5em + 0.75rem + 2px);
        background: white;
        /*text-align: center;*/
        font-size: 14px;
        border-radius: 30px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        width: 100%;
        padding: 0 2em;
    }

    .custom-input::placeholder {
        color: #2DA1A9;
    }

    .row {
        padding: 0.5rem 0;
    }
</style>
