<template>
    <div>
        <div class="form-frame">
            <b-row>
                <b-col align="right">หน้า 3/3</b-col>
            </b-row>
            <!--        No -->
            <b-row class="row">
                <b-row>
                    <b-col md="4" align="left" style="padding-left: 30px">เลขที่ชันสูตร</b-col>
                    <b-col><input class="custom-input" type="text"></b-col>
                </b-row>
            </b-row>
            <div class="my-md-4" style="border-top: 1px solid #636b6f;">
            </div>
            <div class="my-md-4" style="padding-top: 1em; text-align: center">
                <span class="font22 font-title-color">แบบบันทึกบาดแผล</span>
            </div>
            <img class="img-pad" style="width: 100%; "
                 src="../../assets/form.png">

            <!--        sign2-->

            <b-row class="row font-default-color font20" style="padding-top: 2em" >
                <b-col cols="12" lg="2" md="2" sm="12"></b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="center">
                        บาดแผล
                    </b-row>
                    <trauma-select v-for="field in fields" :field="field"></trauma-select>
                </b-col>
                <b-col cols="12" lg="4" md="4" sm="12">
                    <b-row align="center">
                        บริเวณ
                    </b-row>
                    <area-select v-for="field in fields" :field="field"></area-select>
                </b-col>
                <b-col class="align-self-end">
                    <b-button style="background: transparent; border: transparent;padding-top: 2em;" @click="addNew('text')"><img src="../../assets/plus.png"></b-button>
                </b-col>
            </b-row>
        </div>
        <b-row>
            <b-col lg="4" md="4" sm="4"></b-col>
            <b-col lg="4" md="4" sm="4">
                <div class="mt-lg-4 mt-sm-2 mt-md-2" align="center">
                    <i class="fas fa-circle fa-sm ml-2 mr-2" style="color: #E7E7E7;"></i>
                    <i class="fas fa-circle fa-sm ml-1 mr-1" style="color: #E7E7E7"></i>
                    <i class="fas fa-circle fa-sm ml-2 mr-2" style="color: #2DA1A9"></i>
                </div>
            </b-col>
        </b-row>
    </div>
</template>
<script>
    import {mapState} from "vuex";
    import TraumaSelect from "../TraumaSelect";
    import AreaSelect from "../AreaSelect";

    export default {
        name: "form3",
        components: {TraumaSelect,AreaSelect},
        created() {
            this.$swal.close();
            // this.$store.dispatch("Common/setProvince");
            // this.$store.dispatch("Common/setTypeWater");
            // this.$store.dispatch("Common/setDepartments");
            this.getCurrentDate();
            // if (this.form.id) {
            this.markers.push({position: this.startLocation});
            // }
        },
        data() {
            return {
                inputType: '',
                count: 1,
                markers: [],
                places: [],
                show: true,
                currentPlace: [],
                fields: [{type: "text", id: this.count}],
                trauma_id: 1,
            }
        },
        computed: {
            ...mapState({
                startLocation: state => {
                    return state.Event.startLocation;
                }
            })
        },
        methods: {
            addNew(val){
                this.fields.push({type: val, id: ++this.count});

            }
        }
    }
</script>

<style>

    .form-frame {
        /*background: #F7F7F7;*/
        /*border-radius: 30px;*/
        /*font-size: 16px;*/
        /*color: #2DA1A9;*/
        /*font-weight: bold;*/
        /*padding: 1rem 1rem 2rem 1rem;*/
        /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .custom-input {
        height: calc(1.5em + 0.75rem + 2px);
        background: white;
        /*text-align: center;*/
        font-size: 14px;
        border-radius: 30px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        width: 100%;
        padding: 0 2em;
    }

    .custom-input::placeholder {
        color: #2DA1A9;
    }

    .row {
        padding: 0.5rem 0;
    }

    .img-pad {
        padding: 2em 5em
    }
    @media only screen and (max-width: 767px) {
        .img-pad {
            padding: 1em 0;
        }
    }
</style>
