@import 'assets/font-awesome/css/all.css';
@import "assets/css/vue2-datepicker";
@import "assets/css/vue-multiselect.css";

@font-face {
  font-family: 'EkkamaiStandard-Light';
  font-weight: bold;
  src: url("assets/font/EkkamaiStandard-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'thaisanslite';
  font-weight: bold;
  src: url("assets/font/thaisanslite_r1.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  src: url("assets/font/Circular.ttf") format("truetype");
}

@font-face {
  font-family: 'Kanit';
  font-weight: normal;
  src: url("assets/font/Kanit-Regular.ttf") format("truetype");
}

.font-default-color {
  color: #2DA1A9;
}

.bg-default-color {
  background: #2DA1A9;
}

.bg-white-color {
  background: white;
}

.bg-base-color,
.bg-base-color:focus, .bg-base-color.focus {
  background: #F2F2F2;
  box-shadow: none;
}


.dropdown-toggle::after {
  color: #2DA1A9;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none;
  background: #B9B9B9;
  border: 0;
}

.font-title-color {
  color: #4F4F4F;
}

.font-base-color {
  color: #FFFFFF;
}

.text-head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
}

.font22 {
  font-weight: bold;
  font-size: 22px;
}

.font16 {
  font-weight: normal;
  font-size: 16px;
}

.font20 {
  font-weight: normal;
  font-size: 20px;
}

.logo-size {
  height: 18vh;
}

@media only screen and (max-width: 767px) {
  .logo-size {
    height: 13vh;
  }

  .text-head {
    font-size: 28px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 499px) {
  .logo-size {
    height: 13vh;
  }

  .text-head {
    font-size: 28px;
    line-height: 50px;
  }

  .login-form {
    font-size: 14px;
  }

  .login-form input {
    font-size: 14px;
  }
  .btn-login {
    font-size: 14px;
    font-weight: 500;
  }
}

/** CUSTOM MULTISELECT */
.multiselect, .multiselect__input, .multiselect__single {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.multiselect-style {
  .multiselect__tags {
    border: none;
  }

  .multiselect, .multiselect__input, .multiselect__single {
    color: #2DA1A9;
    font-size: 14px;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .multiselect__placeholder {
    color: #2DA1A9;
  }

  .multiselect__select:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #2DA1A9;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #2DA1A9 transparent transparent transparent;
    content: "";
  }

}

.autopsy-button {
  background: #2DA1A9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 30px;
  padding: 0.5em 2.25em;
}

.text-muted {
  color: #2DA1A9 !important;
}

.datepick {
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #17a2b8;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

}

.multiselect-style2 {
  .multiselect__tags {
    border-radius: 30px;
    border: 1px solid #BDBDBD;
  }

  .multiselect, .multiselect__input, .multiselect__single {
    color: #2DA1A9;
    font-size: 14px;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .multiselect__placeholder {
    color: #2DA1A9;
  }

  .multiselect__select:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #2DA1A9;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #2DA1A9 transparent transparent transparent;
    content: "";
  }

}

.form-table thead {
  background: #2DA1A9;
  border-color: #2DA1A9;
  color: white;
}

.form-table tbody {
  border-color: #2DA1A9;
  color: #2DA1A9;
  background: white;
}
.form-table .table-bordered th, .table-bordered td {
  border: 0.5pt solid #2DA1A9 ;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

a,a:hover.custom-link {
  text-decoration: none;
  color: white;
}

//.center {
//  line-height: 45px;
//  height: 45px;
//  text-align: center;
//}
//
///* If the text has multiple lines, add the following: */
//.center p {
//  line-height: 1.5;
//  display: inline-block;
//  vertical-align: middle;
//}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #2DA1A9;
  border-color: #2DA1A9;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2DA1A9;
  background-color: #fff;
}

