<template>
    <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown id="nav7_down" right>
            <template slot="button-content"><span class="font-default-color">User |</span> <img
                    src="../assets/user.png" style="width: 40px;padding: 2px"></template>
            <!--                        <b-dropdown-item>one</b-dropdown-item>-->
            <!--                        <b-dropdown-item>two</b-dropdown-item>-->
            <!--                        <b-dropdown-divider></b-dropdown-divider>-->
            <b-dropdown-item @click="logout()">ออกจากระบบ</b-dropdown-item>
        </b-nav-item-dropdown>
    </b-navbar-nav>
</template>

<script>
    export default {
        name: "ProfileStatus",
        methods: {
            logout(){
                const path = `/login`
                if (this.$route.path !== path) this.$router.push(path)
            }
        }
    }
</script>

<style scoped>

</style>
