<template>
    <b-row class="justify-content-md-center col-md-10 col-lg-8">
        <b-col md="3" sm="3"><b-button class="autopsy-button" style="width: 100%;"><i class="fas fa-print"></i> พิมพ์</b-button></b-col>
        <b-col md="4" sm="4"><input class="form-control quest-input mt-0" type="text" style="text-align: left; padding-left: 1rem" value="วันที่ : " disabled></b-col>
        <b-col md="4" sm="4"><input class=" form-control quest-input mt-0" type="text" style="text-align: left; padding-left: 1rem" value="สถานะ : " disabled></b-col>
    </b-row>
</template>

<script>
    export default {
        name: "QuestionStatus",
        methods: {
        }
    }
</script>

<style scoped>
    .quest-input{
        color: white;
        background: #878787;
        border-radius: 30px;
        text-align: center;
        /*margin: 0 1em;*/
    }
</style>
