<template id="form-input">
    <b-row align="left" style="padding: 0 0 0 15px;">
        <div class="my-auto" >
            <p style="padding-right: 1em;">{{fieldInput.id}}</p>
        </div>
        <div class="col-lg-8">
            <multiselect class="multiselect-style2"
                         :options="[]"
                         label="name"
                         select-label=""
                         selectedLabel=""
                         deselect-label=""
                         placeholder="เลือกบาดแผล"
                         track-by="name"
            />
        </div>
    </b-row>
</template>

<script>
    export default {
        name: "TraumaSelect",
        props: ['field'],
        data(){
            return {
                fieldInput : {type: "text", id: 1},
            }
        },
        created() {
            if(this.field.id){
                this.fieldInput = this.field;
            }
        }
    }
</script>

<style scoped>

</style>
