<template>
    <div style="margin: 2em">
        <b-navbar toggleable="lg" class="bg-white-color" style="padding: 0 0 0.75em 0;border-bottom: 1px solid #2DA1A9;">
            <b-button class="autopsy-button font20" style="padding: 0.25em 2.25em" @click="goToEvent()">+ เหตุการณ์</b-button>
            <profile-status/>
        </b-navbar>
        <div class="row py-3">
            <div class="col-md-3 px-0 mt-1 pl-3 pr-3">
                <input class="custom-input mt-0" type="text" placeholder="ชื่อ-นามสกุล/เลขประจำตัวประชาชน">
            </div>
            <div class="col-md-2 mt-1">
                <multiselect class="multiselect-style" v-model="value"
                             :options="optionProvince()"
                             label="name"
                             select-label=""
                             selectedLabel=""
                             deselect-label=""
                             placeholder="เลือกจังหวัด"
                             track-by="name"
                />
            </div>
            <div class="col-md-2 mt-1">
                <b-form-datepicker class="datepick"
                        placeholder="วันที่เริ่มต้น"
                        id="datepicker-dateformat1"
                        :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                        locale="en"
                ></b-form-datepicker>
            </div>
            <div class="col-md-2 mt-1">
                <b-form-datepicker class="datepick"
                        placeholder="วันที่สิ้นสุด"
                        id="datepicker-dateformat2"
                        :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                        locale="en"
                ></b-form-datepicker>
            </div>
            <div class="col-md-3 m-auto">
                <b-button class="d-inline-flex autopsy-button m-1">ค้นหา<i class="fas fa-search my-md-1 ml-1"></i>
                </b-button>
                <b-button class="d-inline-flex autopsy-button m-1"><i class="far fa-file-excel my-md-1 mr-1"></i>Excel
                </b-button>
            </div>
        </div>
        <div>
            <b-table responsive="sm" striped hover
                     :items="items"
                     :fields="fields"
                     :per-page="perPage"
                     :current-page="currentPage">
                <template v-slot:thead-top="data">
                    <b-tr style=" text-align: center">
                        <b-th colspan="3" style="color: #2DA1A9">คำสั่ง</b-th>
                        <b-th colspan="3" style="border-left: 1px solid #2DA1A9;color: #2DA1A9">เหตุการณ์</b-th>
                        <b-th colspan="2" style="border-left: 1px solid #2DA1A9;color: #2DA1A9">ผู้ตาย</b-th>
                        <b-th colspan="3" style="border-left: 1px solid #2DA1A9;color: #2DA1A9">จุดเกิดเหตุ</b-th>
                    </b-tr>
                </template>
                <template v-slot:cell(report)="data">
                    <button style="background: transparent; border: 0;" class="my-md-auto"><img class="my-md-1"
                                                                                                src="../../assets/report.png"
                                                                                                style="width: 18px;">
                    </button>
                </template>
                <template v-slot:cell(request)="data">
                    <button style="background: transparent; border: 0;" class="my-md-auto"><img class="my-md-1"
                                                                                                src="../../assets/req.png"
                                                                                                style="width: 18px;">
                    </button>
                </template>
                <template v-slot:cell(edit)="data">
                    <button style="background: transparent; border: 0;" class="my-md-auto"><img class="my-md-1"
                                                                                                src="../../assets/edit.png"
                                                                                                style="width: 20px;">
                    </button>
                </template>
            </b-table>
                <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="my-table"
                        first-number
                        last-number
                        align="right"
                ></b-pagination>
<!--            <div v-if="items.length > 10">-->
<!--                <vue-pagination :pagination="dataPaginatePatient"-->
<!--                                @paginate="getPatient">-->
<!--                </vue-pagination>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>
    import ProfileStatus from "../ProfileStatus";
    var fieldsStyle = {
        thStyle: {color: '#616161'},
    };
    export default {
        name: "DataReport",
        components: {ProfileStatus},
        created() {
            // this.$store.dispatch("Common/setProvince");
        },
        computed: {
            rows() {
                return this.items.length
            }
            // ...mapState({
            // form : state=>{
            //     return state.Auth.form;
            // },
            // optionProvince : state=>{
            //     return state.Common.provinces;
            // },
            // login_form : state=>{
            //     return state.Auth.login_form;
            // },
            // user_login : state=>{
            //     return state.Auth.user_login
            // }
            // })
        },
        data() {
            return {
                perPage: 10,
                currentPage: 1,
                fields: [
                    {
                        key: 'report',
                        label: 'รายงาน',
                        sortable: false,
                        ...fieldsStyle
                    },
                    {
                        key: 'request',
                        label: 'ใบเบิก',
                        sortable: false,
                        ...fieldsStyle
                    },
                    {
                        key: 'edit',
                        label: 'แก้ไข',
                        sortable: false,
                        ...fieldsStyle
                    },
                    {
                        key: 'id',
                        label: 'รายที่',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'date',
                        label: 'วันที่เกิดเหตุ',
                        sortable: false,
                        ...fieldsStyle
                    },
                    {
                        key: 'event_id',
                        label: 'รหัสเหตุการณ์',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'sex',
                        label: 'เพศ',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'age',
                        label: 'อายุ',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'province',
                        label: 'จังหวัด',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'district',
                        label: 'อำเภอ',
                        sortable: true,
                        ...fieldsStyle
                    },
                    {
                        key: 'sub_district',
                        label: 'ตำบล',
                        sortable: true,
                        ...fieldsStyle
                    }
                ],
                items: [
                    {id: 1, heading2: 'table cell', heading3: 'table cell'},
                    {id: 2, heading2: 'table cell', heading3: 'table cell'},
                    {id: 3, heading2: 'table cell', heading3: 'table cell'},
                    {id: 4, heading2: 'table cell', heading3: 'table cell'},
                    {id: 5, heading2: 'table cell', heading3: 'table cell'},
                    {id: 6, heading2: 'table cell', heading3: 'table cell'},
                    {id: 7, heading2: 'table cell', heading3: 'table cell'},
                    {id: 8, heading2: 'table cell', heading3: 'table cell'},
                    {id: 9, heading2: 'table cell', heading3: 'table cell'},
                    {id: 10, heading2: 'table cell', heading3: 'table cell'},
                    {id: 11, heading2: 'table cell', heading3: 'table cell'},
                    {id: 12, heading2: 'table cell', heading3: 'table cell'},
                    {id: 13, heading2: 'table cell', heading3: 'table cell'},
                    {id: 14, heading2: 'table cell', heading3: 'table cell'},
                    {id: 15, heading2: 'table cell', heading3: 'table cell'},
                ],
                value: '',
                options: ['Select option', 'options', 'selected', 'mulitple', 'label', 'searchable', 'clearOnSelect', 'hideSelected', 'maxHeight', 'allowEmpty', 'showLabels', 'onChange', 'touched'],
            }
        },
        methods: {
            optionProvince() {
                return this.options
            },
            goToEvent() {
                console.log("go to question form")
                const path = `/question-form/1`
                if (this.$route.path !== path) this.$router.push(path)
            },
        }
    }
</script>

<style lang="scss" scoped>

    .custom-input {
        height: calc(1.5em + 0.75rem + 2px);
        border: 1px;
        background: #F2F2F2;
        border-radius: 30px;
        margin-top: 0.75em;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .custom-input::placeholder {
        color: #2DA1A9;
        text-align: center;
    }

</style>
